* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "microsoft yahei";
    font-size: 12px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    border: none;
}

input,
select,
option,
textarea {
    outline: none;
}

nav {
    background: #FFFFFF;
}

.b_t {
    width: 150px;
    background: #01747a;
    float: right;
    height: 25px;
}

.b_t p {
    color: #FFFFFF;
    background: url(../img/H_03.jpg) no-repeat;
    padding-left: 30px;
    background-position: 8px 6px;
    line-height: 25px;
}

#in {
    width: 280px;
    height: 30px;
    float: right;
    background: url(../img/H3_09.jpg) no-repeat;
    background-position: 10px;
    margin-top: 20px;
    padding-left: 40px;
    border: 1px solid #eeeeee;
    margin-right: 0;
    padding-right: 0;
}

#u_o input:focus {
    border: 1px solid #003969;
    box-shadow: 0 0 3px 0 #003969;
}

#u_o li a {
    padding: 15px 30px;
    font-size: 12px;
}

#u_o li a:hover {
    color: #12949c;
    font-weight: bold;
}

.but {
    margin-top: 20px;
}

.but a {
    background: #01396a;
    padding: 20px 60px;
    line-height: 92px;
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

#car h1 {
    font-size: 100px;
}

#car p {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

#carouse li {
    border: 1px solid #000000;
}

#carouse .active {
    background: #000000;
}

#car {
    width: 797px;
    text-align: left;
    top: 30%;
}

#jr {
    animation: anmi 2s;
    -webkit-animation: anmi 2s forwards;
    -moz-animation: anmi 2s forwards;
}

#midle {
    margin-top: 2%;
}

#midle_o {
    margin-top: 2%;
}

#col {
    border-bottom: 1px solid #dfdfdf;
    margin: 0 auto;
    left: 0;
    right: 0;
}
#col p,
#meiti p {
    color: #000000;
    border-bottom: 2px solid #01396a;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
    line-height: 5rem;
    font-weight: bold;
}
#col a { text-decoration: none; }

#bor {
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
}

#li_o {
    text-align: center;
    line-height: 2rem;
    margin-top: 5%;
}

#li_o span {
    padding: 20% 0;
}

#li_o h1 {
    font-size: 2.6rem;
    color: #333333;
    font-weight: 500px;
    padding-bottom: 10%;
}

.li_h1 a,
.li_h2 a,
.li_h3 a {
    color: #ffffff;
    text-decoration: none;
    transition: 1s;
}

.li_h1:hover,
.li_h2:hover,
.li_h3:hover {
    border: 1px solid #01737b;
    background: none;
    transition: 1s;
    cursor: pointer;
}

.li_h1:hover a,
.li_h2:hover a,
.li_h3:hover a {
    color: #01737b;
    transition: 1s;
}

.li_h1,
.li_h2,
.li_h3 {
    width: 200px;
    height: 60px;
    line-height: 60px;
    font-size: 2.6rem;
    color: #ffffff;
    margin: 0 auto;
    transition: 1s;
}

.li_h1 {
    background: #3c9fa5;
}

.li_h2 {
    background: #ad4949;
}

.li_h3 {
    background: #3b832f;
}

.tu_o {
    background: url(../img/H_21.jpg) no-repeat center;
    margin-top: 2%;
    width: 100%;
    background-size: cover;
}

.tu_o_zh {
    width: 62.5%;
    margin: 0 auto;
}

.tu_zh h1 {
    font-size: 6rem;
    margin-top: 20%;
    color: #ffffff;
}

.tu_zh p {
    font-size: 2rem;
    margin-top: 2%;
    color: #ffffff;
}

.tu_zh {
    width: 55%;
}

.ji_fa {
    color: #333333;
    margin-top: 3.5%;
}

.ji_fa li {
    margin-top: 0.5%;
}

.ji_fa li h1 {
    font-size: 2.2rem;
}

.ji_fa li p {
    font-size: 1.5rem;
    line-height: 22px;
}

.ji_fa li p,
.ji_fa li h1 {
    width: 98%;
    float: right;
}

footer {
    width: 100%;
    background: #01737b;
    padding: 2% 0;
}

.f_u li,
.g_s,
.f_u li a {
    color: #ffffff;
}

.f_u li h1 {
    font-size: 1.5rem;
}

#f_uu {
    margin-top: 15%;
}

#f_uu li {
    font-size: 1.2rem;
    line-height: 22px;
}

.g_s {
    text-align: center;
    margin-top: 17%;
    margin-bottom: 1%;
}

#chpin {
    background: #ffffff;
    padding: 3% 0;
    margin-top: 10%;
    border: 1px solid #ffffff;
    margin-left: 11%;
}

#ch_o a {
    color: #03386a;
}

#ch_o h1 {
    font-size: 20px;
    font-weight: bold;
}

#ch_o p {
    font-size: 14px;
    margin-top: 8%;
    line-height: 24px;
}

#chpin:hover {
    box-shadow: 0 0 10px 2px #03386a;
    transform: 2s;
}

.cp {
    padding-left: 10%;
}

#biao {
    margin-top: 16%;
}

#biao p {
    width: 2%;
    height: 330px;
    border: 5px solid #ffffff;
    border-radius: 50px;
}

#ppo p {
    margin-top: 5%;
    line-height: 3.8rem;
}

#pinpai li {
    border-bottom: 1px solid #dfdfdf;
    padding: 3%;
    font-size: 1.8rem;
    padding-bottom: 0;
}

#pinpai li a {
    color: #666666;
    font-weight: bold;
}

#pinpai li:hover {
    background: #dfdfdf;
    cursor: pointer;
}

#pinpai li:hover a {
    color: #013968;
}

#pinpai li:hover .glyphicon .glyphicon-triangle-bottom {
    background: #01396a;
}

#pinpai {
    margin: 5% 0 15% 0;
}

.k_y {
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
}

.k_y .row li {
    margin-left: 5.5%;
    margin-top: 6%;
}

.k_y .row li:hover .bj {
    border: 1px solid #01396a;
}

.k_y .row .bj {
    background: #FFFFFF;
    position: relative;
    opacity: 0.8;
    filter: alpha(opacity=80);
    height: 200px;
}

.k_y .row .bjo {
    position: absolute;
    top: 18%;
    padding: 0 15%;
}

.k_y .row .col-md-8 {
    text-align: center;
    font-size: 2.5rem;
    color: #343233;
    font-weight: bold;
    margin-top: 11%;
}

#kyjs {
    padding-top: 60%;
}

.xy_h1 {
    color: #11949c;
    font-size: 3.2rem;
}

.xy_p1 {
    color: #9a9a9a;
    font-weight: bold;
    font-size: 1.5rem;
}

.xy_p2 {
    line-height: 3rem;
    padding-top: 2%;
    font-size: 2rem;
}
.g_y a:link {
    color: #ffffff;
    text-align: left;
}

.g_y .gy {
    background: #01396a;
    position: relative;
    height: 150px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.g_y .gyo {
    position: absolute;
    top: 15%;
}

.gyo p {
    font-size: 2.1rem;
    font-weight: bold;
    padding-top: 0;
    line-height: 1.8rem;
}

.gyo span {
    font-size: 1.4rem;
}

.g_y li:hover .gy {
    opacity: 1;
    filter: alpha(opacity=100);
}

.g_y ul {
    margin-top: 2%;
}

.guanyu {
    border-bottom: 1px solid #aaaaaa;
    padding: 5% 0;
}

.but a:hover {
    padding-left: 20%;
    padding-right: 20%;
    transition: 1.5s;
    color: #01396a;
    border: 1px solid #7b7b7b;
    background: #ffffff;
}

.but a {
    padding-left: 60px;
    padding-right: 60px;
    transition: 1.5s;
    border: 1px solid #01396a;
}

#guan_yu {
    width: 60%;
    padding-top: 2%;
}

#guan_yu .tu_zh p {
    font-size: 30px;
}

#gy_img .img-responsive {
    float: right;
}

.guanyu #jr {
    font-size: 6.5rem;
}

.guanyu #se {
    font-size: 2rem;
}

.gywm {
    color: #0f97a7;
    background: url(../img/xy01_03.jpg) no-repeat center bottom;
}

.x_w li,
.x_w_y li {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 0;
}

.x_w li p,
.x_w_y li p {
    margin-bottom: 0;
}

.gy_no {
    width: 1000px;
    margin: 0 auto;
}

.xw {
    width: 1000px;
}

.xw {
    margin-top: 5%;
    margin-bottom: 0;
}

.xw_l {
    padding-right: 0;
}

.inp {
    width: 95%;
    border: 1px solid #dfdfdf;
}

.inp input {
    border: none;
    padding: 4% 0;
    width: 82%;
    padding-left: 5%;
}

.s_s {
    background: #dfdfdf;
    padding: 5% 6.5%;
    float: right;
    margin-top: 0;
    color: #999999;
    top: 0;
}

.inp input:focus {
    border: 0;
}

.inp select {
    width: 100%;
    padding: 4% 0;
    padding-left: 4%;
    color: #999999;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    background: url(../img/xw12_20.jpg) no-repeat scroll right center transparent;
    background-size: calc(0.5)
}

.inp select option {
    margin-top: 2%;
}

.inp select:-ms-expand {
    display: none;
}

.news,
.news_o {
    background: #f4f4f4;
    padding: 4%;
}

.news li h1,
.news_o li h1 {
    font-size: 1.8rem;
    color: #0098a6;
}

.news li h2,
.news_o li h2 {
    font-size: 1.6rem;
    color: #999999;
    font-weight: bold;
    margin-top: 2.1%;
}

.news li p,
.news_o li p {
    font-size: 1.4rem;
    color: #999999;
    line-height: 2rem;
    margin-top: 3%;
}

.news_o li {
    padding-left: 0;
    padding-right: 0;
}

.news_o {
    background: none;
}

.news_o li {
    border-bottom: 1px solid #f4f4f4;
    padding: 4% 2%;
}

.news_o li h1 {
    color: #666666;
    font-size: 1.4rem;
    margin-top: 3%;
}

.news_o li p {
    font-size: 1.2rem;
}

.news_o li h2 {
    font-weight: normal;
    font-size: 1.4rem;
}

.news_o .tu_biao {
    margin-top: 2%;
    text-align: center;
    color: #666666;
}

.news_o li:hover {
    background: #f4f4f4;
}

.news_o li:hover h1 {
    color: #0098a6;
}

.news_o li:hover h2 {
    font-weight: bold;
}

.news_o li:hover .tu_biao {
    color: #0098a6;
}

.sm .row {
    margin: 5% 0;
}

.sm .row div {
    margin: 2% 0;
}

.sm h1 {
    font-size: 3rem;
    color: #0096a4;
    text-align: center;
}

.sm p {
    color: #818181;
    margin-top: 1%;
    line-height: 4rem;
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.ul_r li {
    float: right;
    margin-top: 2%;
}

.ryo .row div li {
    padding-left: 0;
    padding-right: 0;
}

.ryt .img-responsive {
    margin: 0 auto;
}

.gy_wm {
    margin-top: 2%;
}

#ban {
    width: 100%;
    background: #ffffff;
    padding: 3% 0 4% 0;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity=5);
    bottom: 0;
}

#bann {
    bottom: 10px;
}

#bann p {
    color: #000000;
    font-size: 2rem;
    text-shadow: none;
    z-index: 100;
}

#chanpin {
    width: 900px;
}

#chanpin {
    width: 70%;
    margin: 0 auto;
}

#chanpin_p {
    color: #ff4014;
    font-size: 1.7rem;
}

#chanpin_h1 {
    color: #ff4014;
    padding-top: 5%;
    font-size: 4.5rem;
}

#pinpaineirong {
    padding-top: 5%;
    background: #ffffff;
    padding-left: 0;
    padding-right: 0;
    margin-top: 5%;
}

#pinpaineirong li {
    background: #afafaf;
    padding: 1% 0;
    text-align: center;
    margin-left: 12%;
    font-size: 2rem;
    border-radius: 10px;
    color: #FFFFFF;
}

#pinpaineirong li p a {
    color: #ffffff;
}

#ppp {
    width: 40%;
    border: 2.5px solid #ffffff;
    border-radius: 50px;
    background: #ffffff;
}

#tu_cpcp {
    width: 62%;
}

#pppp {
    width: 40%;
    border: 2.5px solid #01396a;
    border-radius: 50px;
    background: #01396a;
    float: right;
}

#keyanjishu {
    text-align: right;
    padding-top: 21%;
    width: 100%;
}

#ppai {
    background: #f5f5f5;
}

#ppai:hover {
    background: #dfdfdf;
}

#ppai:hover #pinpaineirong {
    color: #FFFFFF;
}


@media only screen and (min-width: 1780px) and (max-width: 1920px) {
    #tu_cpcp {
        width: 50%;
    }
}

@media only screen and (max-width:767px) {
    .gy_no {
        width: 100%;
    }
    .xw {
        width: 100%;
    }
    .x_w li {
        display: none;
    }
    .x_w .x_w_img {
        display: block;
    }
    .x_w_y li {
        text-align: center;
    }
    .xw_l .img-responsive {
        margin: 0 auto;
    }
    .xw_l input {
        display: none;
    }
    .xw_l .inp {
        display: none;
    }
    .news li h1 {
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
    .news li h2 {
        font-size: 1.3rem;
    }
    .news li p {
        font-size: 1.2rem;
        line-height: 2.2rem;
    }
    .news li,
    .news_o li {
        margin-bottom: 0;
        padding: 0 8%;
    }
    .news_o li {
        border: 0;
    }
    .news_o li:hover {
        background: none;
    }
    .news_o li h2 {
        font-size: 1.3rem;
    }
    .news_o li h1 {
        line-height: 2.2rem;
    }
    .news_o li p {
        line-height: 2.2rem;
    }
    .x_w_y .li_o {
        display: none;
    }
    .x_w_y {
        float: right;
    }
    .x_w_img {
        padding-bottom: 8%;
    }
    .x_w_y li {
        text-align: center;
        padding: 1% 0;
    }
    .news_o .tu_biao {
        display: none;
    }
    .sm .row div {
        margin: 2% 0;
    }
    .sm h1 {
        font-size: 2.2rem;
    }
    .sm p {
        line-height: 3rem;
        font-size: 1.2rem;
    }
    .ul_r li {
        float: left;
        margin-top: 2%;
        margin: 0 auto;
    }
    #chanpin_p {
        font-size: 12px;
    }
    #chanpin_h1 {
        padding-top: 15%;
        font-size: 2rem;
    }
    #bann p {
        font-size: 1.2rem;
    }
    #keyanjishu {
        padding-top: 10%;
    }
}

@media only screen and (min-width: 767px) and (max-width: 992px) {
    .gy_no {
        width: 100%;
    }
    .xw {
        width: 100%;
    }
    .xw_l input {
        display: none;
    }
    .xw_l .inp {
        display: none;
    }
    .news li h1 {
        font-size: 1.5rem;
    }
    .news li h2 {
        font-size: 1.3rem;
    }
    .news li p {
        font-size: 1.2rem;
    }
    .news {
        margin-bottom: 0;
    }
    .news_o li h2 {
        font-size: 1.3rem;
    }
    .x_w_y .li_o {
        display: none;
    }
    .x_w_y {
        float: right;
    }
    .x_w_img {
        padding-bottom: 8%;
    }
    .x_w_y li {
        text-align: center;
        padding: 1% 0;
    }
    #ch_o h1 {
        font-size: 12px;
        font-weight: bold;
    }
    #tu_cpcp {
        width: 85%;
    }
    #ch_o p {
        font-size: 12px;
        margin-top: 8%;
        line-height: 24px;
    }
}

@media (min-width:830px) {
    #ji_fa {
        padding: 0;
    }
    #ji_fa li {
        padding: 0;
    }
    #ji_img {
        padding: 0; 
        width:46.33333333%;
    }
    #ji_zi {
        padding-left: 2%;
        padding-right: 0;
        padding-top: 2%;
        width:53.66666667%;
    }
}

@media (max-width: 830px) {}

@media (max-width:500px) {
    .b_t {
        display: none;
    }
    .navbar-toggle {
        margin-top: 6%;
    }
    #car h1 {
        font-size: 18px;
        color: #333333;
    }
    #car p {
        font-size: 12px;
        line-height: 14px;
        height: 30px;
        overflow: hidden;
        text-overflow: clip;
    }
    #car {
        width: 90%;
        top: 5%;
        position: relative;
        margin-top: 2%;
        padding-right: 10%;
        left: 10%;
    }
    .but {
        margin-top: 0px;
    }
    .but a {
        padding: 8px 30px;
        font-size: 14px;
        line-height: 38px;
    }
    #col p {
        font-size: 2rem;
    }
    #bor {
        border: none;
    }
    #li_o {
        margin-top: 10%;
    }
    #li_o h1 {
        font-size: 1.8rem;
        padding-top: 4%;
        padding-bottom: 1%;
    }
    .li_h1,
    .li_h2,
    .li_h3 {
        width: 180px;
        height: 40px;
        line-height: 40px;
        font-size: 1.8rem;
    }
    .tu_o {
        height: 200px;
    }
    .tu_o_zh {
        width: 90%;
    }
    .tu_zh h1 {
        font-size: 2.2rem;
        margin-top: 10%;
    }
    .tu_zh p {
        font-size: 1.1rem;
        margin-top: 0%;
    }
    .ji_fa li {
        margin-top: 0.2%;
        text-align: center;
    }
    .ji_fa li h1 {
        font-size: 1.5rem;
        margin-top: 3%;
    }
    .ji_fa li p {
        font-size: 1rem;
        line-height: 16px;
        padding-right: 2%;
    }
    .li_33 {
        display: none;
    }
    .li_44 {
        display: none;
    }
    .li_22 {
        display: none;
    }
    .li_11 {
        text-align: center;
    }
    .f_u li h1 {
        font-size: 1.3rem;
    }
    #f_uu {
        margin-top: 10%;
    }
    #f_uu li {
        font-size: 1.1rem;
        line-height: 20px;
        line-height: 18px;
    }
    .g_s {
        margin-top: 2%;
    }
    #ji_fa .col-md-8,
    .col-sm-8,
    .col-xs-12 {
        padding: 0;
    }
    #ji_fa .col-md-12,
    .col-sm-12 {
        padding: 0;
    }
    #row {
        width: 400px;
    }
    #chpin {
        padding: 2% 0 1% 0;
        margin-top: 4%;
    }
    #ch_o h1 {
        font-size: 10px;
        font-weight: bold;
        text-align: center;
    }
    #chpin img {
        display: none;
    }
    #ch_o p {
        display: none;
    }
    .cp {
        margin: 0 auto;
        margin-top: 35%;
    }
    #pp {
        width: 150%;
        margin-top: 0;
        padding-top: 2%;
    }
    #biao {
        margin-top: 2%;
        padding-right: 0;
        padding-left: 0;
    }
    #biao p {
        height: 115px;
        border-width: 2px;
    }
    #ppo h1 {
        margin-top: 2%
    }
    #ppo p {
        margin-top: -5%;
        line-height: 2rem;
        padding-bottom: 5%;
        font-size: 0.9rem;
    }
    #ppo {
        padding-left: 0;
    }
    #pinpai li {
        text-align: center;
        padding: 5%;
        font-size: 1.2rem;
    }
    #pinpai h1 {
        display: none;
    }
    .k_y {
        width: 100%;
        margin-top: 0%;
    }
    .k_y .row li {
        margin-left: 4%;
        margin-top: 4%;
    }
    .k_y .row .bj {
        height: 75px;
    }
    .bjo .col-md-4 .col-sm-4 .col-xs-4 {
        padding: 0;
    }
    .k_y .row .col-md-8 {
        font-size: 1.2rem;
        text-align: left;
        padding-left: 5%;
    }
    #kyjs {
        padding-top: 0%;
    }
    .k_y .row .bjo {
        padding: 0 10%;
    }
    .xy_h1 {
        font-size: 2rem;
        margin-top: 3%;
    }
    .xy_p1 {
        font-size: 1.4rem;
    }
    .xy_p2 {
        line-height: 3rem;
        font-size: 1.4rem;
    }
    #meiti p {
        width: 80%;
        font-size: 1.6rem;
    }
    .peiliao {
        font-size: 1.1rem;
    }
    #guan_yu {
        width: 90%;
        padding-top: 1%;
    }
    #guan_yu .tu_zh h1 {
        margin-top: 30%;
        font-size: 3rem;
        display: none;
    }
    #guan_yu .tu_zh p {
        margin-top: 2%;
        font-size: 1.8rem;
        display: none;
    }
    .g_y {
        margin-top: 30%;
        display: none;
    }
    .g_y .gy {
        height: 30px;
        display: none;
    }
    .gyo p {
        line-height: 1rem;
        font-size: 1.2rem;
        display: none;
    }
    .gyo span {
        font-size: 1.1rem;
        display: none;
    }
    #gy_img .img-responsive {
        float: none;
        margin: 0 auto;
        padding-top: 5%;
    }
    .guanyu {
        text-align: center;
    }
    .guanyu #jr {
        font-size: 2rem;
    }
    .guanyu #jr img {
        display: none;
    }
    .guanyu #se {
        font-size: 1.4rem;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 2%;
    }
    .gy_no {
        width: 100%;
    }
    .xw {
        width: 100%;
    }
    .x_w li {
        display: none;
    }
    .x_w .x_w_img {
        display: block;
    }
    .x_w_y li {
        text-align: center;
    }
    .xw_l .img-responsive {
        margin: 0 auto;
    }
    .xw_l input {
        display: none;
    }
    .xw_l .inp {
        display: none;
    }
    .news li {
        text-align: center;
    }
    .news li h1 {
        font-size: 1.4rem;
    }
    .news li h2 {
        font-size: 1.2rem;
    }
    .news li p {
        font-size: 1.1rem;
    }
    .news {
        margin-bottom: 0;
    }
    .news_o li {
        border: 0;
        text-align: center;
    }
    .news_o li:hover {
        background: none;
    }
    .news_o li h2 {
        font-size: 1.2rem;
    }
    .x_w_y .li_o {
        display: none;
    }
    .x_w_y {
        float: right;
    }
    .x_w_img {
        padding-bottom: 8%;
    }
    .x_w_y li {
        text-align: center;
        padding: 1% 0;
    }
    .x_w_y li P {
        padding: 0;
    }
    .news_o .tu_biao {
        display: none;
    }
    #tu_cpcp {
        width: 90%;
    }
    #ppp {
        display: none;
    }
    #chanpin_h1 {
        text-align: center;
    }
    #chanpin_p {
        text-align: center;
        font-size: 12px;
    }
    #chanpin_h1 {
        padding-top: 5%;
        font-size: 2rem;
        font-weight: bold;
    }
    #midle .row p {
        font-size: 1.5rem;
    }
    #keyanjishu {
        padding-top: 3%;
        font-size: 12px;
    }
    #pppp {
        display: none;
    }
}

@media only screen and (min-width: 500px) and (max-width:768px) {
    .b_t {
        display: none;
    }
    .navbar-toggle {
        margin-top: 4%;
    }
    #car h1 {
        font-size: 20px;
    }
    #car p {
        font-size: 11px;
        line-height: 14px;
    }
    #car {
        width: 300px;
        top: 5%;
    }
    .but {
        margin-top: 0px;
    }
    .but a {
        padding: 8px 30px;
        font-size: 14px;
        line-height: 38px;
    }
    #col p {
        font-size: 2.1rem;
    }
    #bor {
        border: none;
    }
    #li_o {
        margin-top: 8%;
    }
    #li_o h1 {
        font-size: 2.1rem;
        padding-top: 5%;
        padding-bottom: 2%;
    }
    .li_h1,
    .li_h2,
    .li_h3 {
        height: 50px;
        line-height: 50px;
        font-size: 2.1rem;
    }
    .tu_o {
        height: 350px;
    }
    .tu_o_zh {
        width: 90%;
    }
    .tu_zh h1 {
        font-size: 3.4rem;
        margin-top: 15%;
    }
    .tu_zh p {
        font-size: 1.6rem;
        margin-top: 1%;
    }
    .ji_fa li {
        margin-top: 0.3%;
        text-align: center;
    }
    .ji_fa li h1 {
        font-size: 2.1rem;
        margin-top: 1%;
    }
    .ji_fa li p {
        font-size: 1.4rem;
        line-height: 20px;
    }
    .li_33 {
        display: none;
    }
    .li_44 {
        display: none;
    }
    .li_22 {
        display: none;
    }
    .li_11 {
        text-align: center;
    }
    .f_u li h1 {
        font-size: 1.5rem;
    }
    #f_uu {
        margin-top: 10%;
    }
    #f_uu li {
        font-size: 1.3rem;
        line-height: 20px;
    }
    .g_s {
        margin-top: 3%;
    }
    #row {
        width: 630px;
    }
    #chpin {
        padding: 2% 0 1% 0;
        margin-top: 12%;
    }
    #ch_o h1 {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }
    #chpin img {
        display: none;
    }
    #ch_o p {
        display: none;
    }
    #pp {
        width: 450px;
        margin-top: 0;
        padding-top: 8%;
    }
    #biao {
        margin-top: 2%;
    }
    #biao p {
        height: 200px;
        border-width: 2px;
    }
    #ppo h1 {
        margin-top: 2%;
    }
    #ppo p {
        margin-top: 1%;
        line-height: 3rem;
        padding-bottom: 5%;
        font-size: 1.4rem;
    }
    #pinpai .glyphicon .glyphicon-triangle-bottom {
        padding-right: 10%;
    }
    .k_y {
        width: 95%;
        margin-top: 2%;
    }
    .k_y .row .bj {
        height: 100px;
    }
    .k_y .row .col-md-8 {
        font-size: 1.4rem;
    }
    .xy_h1 {
        font-size: 2.2rem;
        margin-top: 3%;
    }
    .xy_p1 {
        font-size: 1.4rem;
    }
    .xy_p2 {
        line-height: 3rem;
        font-size: 1.6rem;
    }
    #meiti p {
        font-size: 2rem;
        width: 80%;
    }
    #guan_yu {
        width: 95%;
        padding-top: 1%;
    }
    #guan_yu .tu_zh h1 {
        margin-top: 30%;
        font-size: 3rem;
    }
    #guan_yu .tu_zh p {
        margin-top: 2%;
        font-size: 1.8rem;
    }
    .g_y .gy {
        height: 50px;
    }
    .g_y .gyo {
        top: 35%
    }
    .gyo p {
        line-height: 1rem;
        font-size: 1.4rem;
    }
    .gyo span {
        font-size: 1.1rem;
        display: none;
    }
    #gy_img .img-responsive {
        float: none;
        margin: 0 auto;
        padding-top: 5%;
    }
    .guanyu {
        text-align: center;
    }
    .guanyu #jr {
        font-size: 3rem;
    }
    .guanyu #se {
        font-size: 1.5rem;
    }
    .gy_no {
        width: 100%;
        margin: 0 auto;
    }
    .xw {
        width: 100%;
    }
    #pp {
        display: none;
    }
    #tu_cpcp {
        width: 85%;
    }
}

@media only screen and (min-width: 500px) and (max-width: 562px) {
    #guan_yu {
        width: 98%;
        padding-top: 1%;
    }
    .gyo p {
        line-height: 0.9rem;
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1000px) and (max-width:1300px) {
    #car h1 {
        font-size: 80px;
    }
    #car p {
        font-size: 14px;
    }
    #car {
        width: 600px;
        text-align: left;
        top: 20%;
    }
    .but {
        margin-top: 15px;
    }
    .but a {
        padding: 15px 50px;
    }
    .tu_o {
        height: 600px;
    }
    .tu_zh h1 {
        font-size: 5rem;
        margin-top: 25%;
    }
    .tu_zh p {
        font-size: 2.1rem;
        margin-top: 2%;
    }
    #pp p {
        margin-top: 5%;
        line-height: 3rem;
        padding-bottom: 5%;
        font-size: 2rem;
    }
    .k_y {
        width: 80%;
        margin-top: 2%;
    }
    #guan_yu {
        width: 90%;
        padding-top: 1%;
    }
    #guan_yu .tu_zh h1 {
        margin-top: 25%;
    }
    .g_y .gy {
        height: 125px;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1050px) {
    .gyo p {
        line-height: 1.2rem;
        font-size: 1.8rem;
    }
    .gyo span {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 768px) and (max-width:1000px) {
    #car h1 {
        font-size: 60px;
    }
    #car p {
        font-size: 12px;
    }
    #car {
        width: 500px;
        text-align: left;
        top: 15%;
    }
    .but {
        margin-top: 10px;
    }
    .but a {
        padding: 10px 50px;
    }
    #li_o h1 {
        font-size: 2.3rem;
        padding-bottom: 2%;
    }
    .li_h1,
    .li_h2,
    .li_h3 {
        height: 55px;
        line-height: 55px;
        font-size: 2.3rem;
    }
    .tu_o {
        height: 500px;
    }
    .tu_o_zh {
        width: 90%;
    }
    .tu_zh h1 {
        font-size: 4rem;
        margin-top: 20%;
    }
    .tu_zh p {
        font-size: 2rem;
        margin-top: 2%;
    }
    .ji_fa li {
        margin-top: 0.3%;
    }
    .ji_fa li h1 {
        font-size: 1.8rem;
    }
    .ji_fa li p {
        font-size: 1.3rem;
        line-height: 22px;
    }
    .li_33 {
        display: none;
    }
    .f_u li {
        margin-left: 5%;
    }
    .f_u li h1 {
        margin-left: 5%;
    }
    #chpin {
        padding: 2% 0;
        margin-top: 5%;
    }
    #ch_o h1 {
        font-size: 18px;
        font-weight: bold;
    }
    #ch_o p {
        font-size: 12px;
        margin-top: 6%;
        line-height: 22px;
    }
    #biao p {
        height: 250px;
        border-width: 4px;
    }
    #ppo p {
        margin-top: 5%;
        line-height: 3rem;
        padding-bottom: 5%;
        font-size: 1.7rem;
    }
    .k_y {
        width: 85%;
    }
    .k_y .row .bj {
        height: 150px;
    }
    .k_y .row .col-md-8 {
        font-size: 1.8rem;
    }
    .xy_h1 {
        font-size: 2.4rem;
    }
    .xy_p1 {
        font-size: 1.3rem;
    }
    .xy_p2 {
        line-height: 2.5rem;
        font-size: 1.8rem;
    }
    #meiti p {
        font-size: 2rem;
        width: 90%;
    }
    #guan_yu {
        width: 75%;
        padding-top: 1%;
    }
    #guan_yu .tu_zh h1 {
        margin-top: 30%;
        font-size: 3rem;
    }
    #guan_yu .tu_zh p {
        margin-top: 2%;
        font-size: 1.8rem;
    }
    .g_y .gy {
        height: 125px;
    }
    .gyo p {
        line-height: 1rem;
        font-size: 1.5rem;
    }
    .gyo span {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 830px) {}

@media only screen and (min-width: 768px) and (max-width: 890px) {
    .news li p {
        font-size: 1.1rem;
    }
    .news li h1 {
        font-size: 1.4rem;
    }
    .news li h2 {
        font-size: 1.2rem;
    }
    .news {
        padding: 3% 2%;
    }
}

@media only screen and (min-width: 992px) and (max-width:1300px) {
    #ch_o h1 {
        font-size: 18px;
        font-weight: bold;
    }
    #tu_cpcp {
        width: 70%;
    }
    #ch_o p {
        font-size: 12px;
        margin-top: 8%;
        line-height: 24px;
    }
}


/**********科研**************/

.keyan-tab>div {
    font-size: 1.4rem;
    line-height: 3rem;
    text-align: center;
    background: #fff;
    color: #818181;
    border: 1px solid #d4d4d4;
}

.keyan-tab>div:hover {
    cursor: pointer;
}

.keyan-tab .active {
    position: relative;
    color: #fff;
    background: #09cec9;
}

.keyan-tab .active:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: url('../img/bottom1.png') no-repeat;
    background-size: 100% 3px;
}



.keyanImg img {
    width: 100%;
    height: 100%;
}

.keyan-p {
    margin-top: 1rem;
}

.keyan-p h3 {
    font-weight: 700;
    font-size: 18px;
    margin: 2rem 0;
    margin-bottom: 3rem;
}

.keyan-p h4 {
    font-weight: 700;
    font-size: 18px;
    margin: 2rem 0;
    margin-bottom: 3rem;
}

.keyan-p p {
    font-size: 14px;
    line-height: 30px;
    display: block;
    margin: 1rem 0 2rem 0;
}

.keyanbox {
    display: none;
}

.keyanImg2 {
    float: right;
    margin-top: 2rem;
    margin-left: 10px;
}

.jiankangImg {
    padding-top: 70px;
    height: 500px;
    width: 100%;
}

.jiankang1 {
    background: url('../img/jiankang1.png');
    background-size: 100% 100%;
}

.jiankang2 {
    background: url('../img/jiankang2.png');
    background-size: 100% 100%;
}

.jiankang3 {
    background: url('../img/jiankang3.png');
    background-size: 100% 100%;
}

.jiankang4 {
    background: url('../img/jiankang4.png');
    background-size: 100% 100%;
}

.jiankang1 button {
    display: block;
    font-size: 20px;
    line-height: 40px;
    width: 200px;
    background: #800005;
    color: #fff;
    border: 0;
    margin: 0 auto;
}

.jiankang2 button {
    display: block;
    font-size: 20px;
    line-height: 40px;
    width: 200px;
    background: #dd9600;
    color: #fff;
    border: 0;
    margin: 0 auto;
}

.jiankang3 button {
    display: block;
    font-size: 20px;
    line-height: 40px;
    width: 200px;
    background: #273a65;
    color: #fff;
    border: 0;
    margin: 0 auto;
}

.jiankang4 button {
    display: block;
    font-size: 20px;
    line-height: 40px;
    width: 200px;
    background: #273a65;
    color: #fff;
    border: 0;
    margin: 0 auto;
}

.gy_wm {
    padding-bottom: 40px;
}

.gongyi {
    margin: 0 0 30px 0;
}

.gongyi a {
    display: block;
    padding-top: 20px;
    color: #02737b;
    font-size: 2.2rem;
    text-decoration: none;
}

.gongyi b {
    color: #666666;
    font-size: 1.6rem;
    font-weight: 400;
}

.gongyi p {
    display: block;
    color: #666;
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 2rem;
}

.gongyi1 h3 {
    color: #02737b;
    font-size: 2.2rem;
    text-align: center;
}

.gongyiTip {
    margin-top: 30px;
    text-align: center;
    color: #666;
    padding-bottom: 30px;
    border-bottom: 1px solid #c0c0c0;
}

.gongyiTip span {
    display: inline-block;
    margin-left: 20px;
}

.gongyi1Main {
    padding-top: 20px;
}

.gongyi1Main img {
    width: 100%;
    height: 200px;
}

.yingyang img {
    height: 221px;
    width: 100%;
}

.jiankangImg1 {
    height: 221px;
    background: url('../img/jiankang11.png');
    background-size: 100% 100%;
}

.jiankangImg2 {
    height: 221px;
    background: url('../img/jiankang12.png');
    background-size: 100% 100%;
}

.jiankangImg3 {
    height: 221px;
    background: url('../img/jiankang13.png');
    background-size: 100% 100%;
}

.jiankangImg4 {
    height: 221px;
    background: url('../img/jiankang14.png');
    background-size: 100% 100%;
}

.jiankangImg5 {
    height: 221px;
    background: url('../img/jiankang15.png');
    background-size: 100% 100%;
}

.jiankangImg6 {
    height: 221px;
    background: url('../img/jiankang16.png');
    background-size: 100% 100%;
}

.jiankangImg7 {
    height: 221px;
    background: url('../img/jiankang17.png');
    background-size: 100% 100%;
}

.jiankangImg8 {
    height: 221px;
    background: url('../img/jiankang18.png');
    background-size: 100% 100%;
}

.jiankangImgBox:hover {
    cursor: pointer;
}

.jiankangImgBox a {
    display: inline-block;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 20px;
    color: #fff;
    line-height: 30px;
}

.hezuoImg {
    width: 100%;
}

@media only screen and (min-width: 830px) {
    .hezuoBox1 {
        width: 800px;
        margin: 0 auto;
        padding: 50px 0;
    }
    .hezuoBox1 .hezuoUnit:first-child {
        margin-left: 40px;
    }
    .hezuoBoxUnit2 .hezuoUnit:first-child {
        margin-left: 40px;
    }
    .hezuoBox11 .hezuoUnit:first-child {
        margin-left: 40px;
    }
    .hezuoBox11 {
        width: 800px;
        margin: 0 auto;
        margin-top: 20px;
        padding: 50px 0;
    }
    .hezuoBoxUnit2 {
        width: 520px;
        margin: 0 auto;
    }
    .hezuoBox2 {
        position: absolute;
        width: 520px;
        margin-top: -130px;
        margin-left: -11px;
        padding: 50px 0;
    }
    .hezuoUnit {
        float: left;
        margin-left: 80px;
    }
    .hezuoUnit1 {
        float: left;
        margin-left: 80px;
    }
    .hezuoUnit1 a {
        position: relative;
        display: inline-block;
        height: 180px;
        width: 180px;
        background: #0068b7;
        border: 1px solid #d6d6d6;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        text-decoration: none;
    }
    .hezuoUnit1 .hezuoUnitSpan {
        position: absolute;
        text-align: center;
        margin-left: 10px;
        margin-top: -140px;
        color: #fff;
        font-size: 20px;
    }
    .hezuoUnit1 .hezuoUnitSpan button {
        padding: 2px 10px;
        border: 1px solid #fff;
        color: #fff;
        text-align: center;
        background: #0068b7;
        font-size: 14px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }
    .hezuoUnit a {
        position: relative;
        display: inline-block;
        height: 180px;
        width: 180px;
        background: #f3f3f3;
        border: 1px solid #d6d6d6;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .hezuoUnit img {
        position: absolute;
        margin-left: 20px;
        margin-top: 50px;
        display: inline-block;
        height: 68px;
        width: 144px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

@media only screen and (max-width: 830px) {
    .hezuoBox1 {
        width: 200px;
        margin: 0 auto;
    }
    .hezuoBox11 {
        width: 200px;
        margin: 0 auto;
    }
    .hezuoBoxUnit2 {
        width: 200px;
        margin: 0 auto;
    }
    .hezuoBox2 {
        padding: 50px 0;
    }
    .hezuoUnit {
        width: 200px;
        margin: 0 auto;
        margin-bottom: 90px;
    }
    .hezuoUnit1 {
        width: 200px;
        margin: 0 auto;
        margin-bottom: 90px;
    }
    .hezuoUnit1 a {
        position: relative;
        display: inline-block;
        height: 180px;
        width: 180px;
        background: #0068b7;
        border: 1px solid #d6d6d6;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        text-decoration: none;
    }
    .hezuoUnit1 .hezuoUnitSpan {
        position: absolute;
        text-align: center;
        margin-left: 10px;
        margin-top: -140px;
        color: #fff;
        font-size: 20px;
    }
    .hezuoUnit1 .hezuoUnitSpan button {
        padding: 2px 10px;
        border: 1px solid #fff;
        color: #fff;
        text-align: center;
        background: #0068b7;
        font-size: 14px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }
    .hezuoUnit a {
        position: relative;
        display: inline-block;
        height: 180px;
        width: 180px;
        background: #f3f3f3;
        border: 1px solid #d6d6d6;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .hezuoUnit img {
        position: absolute;
        margin-left: 20px;
        margin-top: 50px;
        display: inline-block;
        height: 68px;
        width: 144px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}