body{font-family: "microsoft yahei"; font-size: 12px;}
body, html{ height: 100%;}
.section{height: 100%;}
a{text-decoration:none;}
li{list-style-type: none;}
img{border: none;}
input,select,option,textarea{outline: none;}
nav{background: #FFFFFF;}
.section{padding-top:70px;}
.container .navbar-header .navbar-brand { padding:10px; margin-top: 10px; margin-left: 5px;}
.b_t{width:150px;background: #01747a;float: right; height: 25px;}
.b_t p{color: #FFFFFF; background: url(../img/H_03.jpg) no-repeat; padding-left: 30px; background-position: 8px 6px; line-height: 25px;}
#in{width: 280px; height: 30px; float: right; background: url(../img/H3_09.jpg) no-repeat ; background-position: 10px;margin-top: 20px; padding-left: 40px;border: 1px solid #eeeeee; 
margin-right: 0; padding-right: 0;}
#u_o input:focus{border: 1px solid #003969; box-shadow: 0 0 3px 0 #003969;}
#u_o li a{padding: 15px 30px; font-size: 12px;}
#u_o li a:hover{color: #12949c; font-weight: bold;}
.but{margin-top: 20px;}
.but a{background: #01396a; padding:20px 60px ; line-height: 92px;font-size:20px ; text-decoration: none; color: #FFFFFF; font-weight: bold;}
#car h1{font-size: 100px;}
#car p{font-size: 16px; line-height: 24px;color: #ffffff;}
#carouse li{border: 1px solid #000000;}
#carouse .active{background: #000000;}
#car{width: 797px; text-align: left; top:30%;}
#jr{animation: anmi 2s;-webkit-animation: anmi 2s forwards;-moz-animation: anmi 2s forwards;}
#midle{margin-top: 2%;}
#midle_o{margin-top: 2%;}
#col{border-bottom: 1px solid #dfdfdf; margin: 0 auto; left: 0;right: 0;}
#col p, #meiti p, #col_p p{color: #000000; border-bottom: 2px solid #01396a; width: 30%; margin: 0 auto; text-align: center; font-size: 2.5rem; line-height:5rem; font-weight: bold;}
#bor{border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;}
#li_o{text-align: center; line-height: 2rem; margin-top: 5%; }
#li_o span{padding: 20% 0;}
#li_o h1{font-size: 2.6rem; color: #333333;font-weight: 500px; padding-bottom: 10%;}
.li_h1 a, .li_h2 a, .li_h3 a{color: #ffffff; text-decoration: none;transition: 1s;}
.li_h1:hover, .li_h2:hover, .li_h3:hover{border: 1px solid #01737b; background: none;transition: 1s;cursor: pointer;}
.li_h1:hover a, .li_h2:hover a, .li_h3:hover a{color: #01737b; transition: 1s;}
.li_h1, .li_h2, .li_h3{width: 200px; height: 60px;  line-height: 60px;font-size: 2.6rem;color: #ffffff; margin: 0 auto;transition: 1s;}
.li_h1{background: #3c9fa5;}
.li_h2{background: #ad4949;}
.li_h3{background: #3b832f;}
.tu_o{background: url(../img/H_21.jpg) no-repeat center;  margin-top: 2%; width: 100%;  background-size:cover ; height: 550px;}
.tu_o a { text-decoration: none; height: 100%; display: block; margin: 0 -15px; padding-left: 15px; padding-right: 15px;}
.tu_o_2{height: 550px;}
.tu_o_3{height: 700px;}
.tu_o_zh{width:63.4%; margin: 0 auto;}
a.tu_o_1:hover { text-decoration: none; }
.tu_o_1 .tu_o { display: block; }
.tu_zh h1{font-size:7rem; margin-top: 21%;  color: #ffffff;}
.tu_zh p{font-size:2rem; margin-top: 2%; color: #ffffff;}
.tu_zh{width:57%;}
.ji_fa{color: #333333; margin-top: 5%;}
.ji_fa li{margin-top: 0.5%;}
.ji_fa li h1{font-size: 2.2rem;}
.ji_fa li p{font-size: 1.5rem; line-height: 22px;}
.ji_fa li p, .ji_fa li h1{width: 98%; float: right;}
footer{width:100%;background: #01737b;padding: 2% 0;}
.f_u li, .g_s, .f_u li a{color: #ffffff;}
.f_u li h1{font-size: 1.5rem;}
#f_uu{margin-top: 15%;}
#f_uu li{font-size: 1.2rem; line-height: 22px;}
.g_s{text-align: center; margin-top:17%; margin-bottom: 1%;}
#chpin{background: #ffffff; padding: 3% 0; margin-top: 10%; border: 1px solid #ffffff; margin-left: 11%;}
#ch_o a{color: #03386a;}
#ch_o h1{font-size: 20px; font-weight: bold;}
#ch_o p{font-size: 14px; margin-top: 8%; line-height: 24px;}
#chpin:hover{box-shadow: 0 0 10px  2px #03386a;transform: 2s;}
.cp{padding-left: 10%;}
#biao{margin-top: 30%;}
#biao p{width: 2%; height: 260px; border: 5px solid #ffffff;border-radius: 50px;}
#ppo { margin-top: 16%; }
#ppo p{margin-top: 3%; line-height: 2.5rem;}
#pinpai li{border-bottom: 1px solid #dfdfdf;padding: 3%; font-size: 1.8rem; padding-bottom: 0;}
#pinpai li a{color: #666666; font-weight: bold;}
#pinpai li:hover{background: #dfdfdf; cursor: pointer;}
#pinpai li:hover a{color: #013968;}
#pinpai li:hover .glyphicon .glyphicon-triangle-bottom{background: #01396a;}
#pinpai{margin: 5% 0 15% 0;}
#pinpai p { margin: 5px 0; }
.p_pai {border: 1px solid #dfdfdf; padding: 3%; font-size: 1.8rem; padding-bottom: 0; }
.p_pai a{color: #666666; font-weight: bold;}
.p_pai:hover{border: 1px solid #0f8b93; cursor: pointer;}
.p_pai:hover a{color: #01396a;}
.ro_pp{margin: 5% 0 15% 0;}
.p_pai{background: #f5f5f5;}
.p_pai:hover{border: 1px solid #0f8b93;color: #FFFFFF;}
.k_y{width: 60%;  margin: 0 auto; margin-top: 5%;}
.k_y .row li{margin-left: 5.5%; margin-top: 6%;}
.k_y .row li:hover .bj{border: 1px solid #01396a;}
.k_y .row .bj{background: #FFFFFF;position: relative; opacity: 0.8;filter: alpha(opacity=80);height: 200px;}
.k_y .row .bjo{position:absolute;top:18%; padding: 0 15%;}
.k_y .row .col-md-8{text-align: center; font-size: 2.5rem; color: #343233; font-weight: bold; margin-top: 11%;}
#kyjs{ padding-top: 60%;}
.xy_h1{color: #11949c; font-size: 3.2rem; margin-top: 3%;}
.xy_p1{color: #9a9a9a; font-weight: bold; font-size: 1.5rem;}
.xy_p2{line-height: 3rem; padding-top: 2%; font-size: 2rem;}
.ji_fa li p.xp_p3 {line-height: 2rem; font-size: 1.8rem;}
.g_y a:link{color: #ffffff; text-align: left;}
.g_y .gy{background: #01396a; position: relative; height: 150px; opacity: 0.7;filter: alpha(opacity=70);}
.g_y .gyo{position: absolute; top: 15%;}
.gyo p{font-size: 2.1rem; font-weight: bold; padding-top: 0; line-height: 1.8rem;}
.gyo span{font-size: 1.4rem;}
/*.g_y li:hover .gy{opacity:1;filter: alpha(opacity=100);}*/
.g_y ul{margin-top: 2%;}
.guanyu{border-bottom: 1px solid #aaaaaa; padding: 2% 0;}
.but a:hover{padding-left:20% ; padding-right:20%; transition: 1.5s; color: #01396a; border: 1px solid #7b7b7b; background: #ffffff;}
.but a{padding-left: 60px; padding-right: 60px;transition:1.5s; border: 1px solid #01396a; }
#guan_yu{width: 60%; padding-top: 2%;}
#guan_yu .tu_zh p{font-size: 30px;}
#gy_img .img-responsive{float: right;}
.guanyu #jr{font-size: 5rem;}
.guanyu #se{font-size: 2rem;}
.gywm{color: #0f97a7; background:url(../img/xy01_03.jpg) no-repeat center bottom;}
.x_w li, .x_w_y li{padding-top: 2%; padding-bottom: 2%; margin-bottom: 0;}
.x_w li p, .x_w_y li p{margin-bottom: 0;}
.gy_no{width: 1000px; margin: 0 auto;}
.xw{width:1000px;}
.xw{margin-top: 5%; margin-bottom: 0;}
.xw_l{padding-right: 0;}
.inp{width: 95%;border: 1px solid #dfdfdf;}
.inp input{border: none; padding: 4% 0; width:82%; padding-left: 5%;}
.s_s{background: #dfdfdf; padding: 5% 6.5%; float: right; margin-top: 0; color: #999999; top: 0;}
.inp input:focus{border: 0;}
.inp select{width: 100%; padding: 4% 0; padding-left: 4%;color: #999999;appearance:none;
-moz-appearance:none;-webkit-appearance:none; border: 0; background: url(../img/xw12_20.jpg) no-repeat scroll right center transparent; background-size: calc(0.5)}
.inp select option{margin-top: 2%;}
.inp select:-ms-expand { display: none; }
.news, .news_o{background: #f4f4f4; padding:4%;}
.news li h1, .news_o li h1{font-size: 1.8rem; color: #0098a6;}
.news li h2, .news_o li h2{font-size: 1.6rem;color: #999999; font-weight: bold; margin-top: 2.1%;}
.news li p, .news_o li p{font-size: 1.4rem;color: #999999; line-height: 2rem; margin-top: 3%;}
.news_o li{padding-left: 0; padding-right: 0;}
.news_o{background: none; }
.news_o li{border-bottom: 1px solid #f4f4f4; padding: 4% 2%;}
.news_o li h1{color: #666666; font-size: 1.4rem; margin-top: 3%;}
.news_o li p{font-size: 1.2rem;}
.news_o li h2{font-weight: normal; font-size: 1.4rem;}
.news_o .tu_biao{margin-top: 2%;text-align: center; color: #666666;}
.news_o li:hover{background: #f4f4f4;}
.news_o li:hover h1{color: #0098a6;}
.news_o li:hover h2{font-weight: bold;}
.news_o li:hover .tu_biao{color: #0098a6;}
.sm .row{margin: 1% 0 9% 0;}
.sm .row div{margin:2% 0;}
.sm h1{font-size: 3rem;color: #0096a4; text-align: center;}
.sm p{color: #818181; margin-top: 1%; line-height: 2.5rem;text-align: center; font-size: 1.4rem; letter-spacing: 1px;}
.ul_r li{float: right; margin-top: 2%;}
.ryo .row div li{padding-left: 0; padding-right: 0;}
.ryt .img-responsive{margin: 0 auto;}
.gy_wm{margin-top: 2%;}
#ban{width:100%; background: #ffffff; padding: 3% 0 4% 0; left: 0;opacity: 0.5; filter: alpha(opacity=5); bottom: 0;}
#bann{bottom: 10px;}
#bann p{color: #000000; font-size: 2rem; text-shadow: none;z-index: 100;}
#chanpin{width: 900px; }
#chanpin{width: 70%; margin: 0 auto;}
#chanpin_p{color: #ff4014; font-size: 1.7rem; margin-top: 1%;}
#chanpin_h1{color: #ff4014; padding-top: 5%; font-size: 4.5rem;}
#chanpin_h11{color: #ff4014; padding-top: 0%; font-size: 4.5rem;}
#pinpaineirong{padding-top: 5%; background: #ffffff; padding-left: 0; padding-right: 0; margin-top: 5%;}
#pinpaineirong li{border:1px  #afafaf solid; padding: 1% 0; text-align: center; margin-left: 12%; font-size: 2rem; border-radius: 10px; color: #FFFFFF;}
#pinpaineirong li p a{color: #363636;}
#ppp{width:40%;  border: 2.5px solid #ffffff; border-radius:50px; background:#ffffff;}
#tu_cpcp{width: 62%;}
#pppp{width:40% ;  border: 2.5px solid #01396a; border-radius:50px; background:#01396a; float: right;}
#keyanjishu{text-align: right; padding-top: 21%; width: 100%;}
#ppai{background: #f5f5f5;}
#ppai:hover{background: #dfdfdf;}
#ppai:hover #pinpaineirong{color: #FFFFFF;}
.renshiwomen{width: 1000px;}
.renshiwomen ul{margin-top:8% ;}
.renshiwomen ul li h1{font-size: 2.6rem; font-weight: bold;}
.renshiwomen ul li p{font-size: 1.6rem; line-height: 3rem; padding-top: 5%;}
.rho{height:439px ;}
.rht{height: 539px;}
.rhth{height: 582px;}
.rhf{height: 583px;}
.rho li{ margin-top: 5%;}
.rht li{ padding: 15% 5% 3% 5%; }
.rhth li{  padding: 3% 5% 3% 5%; }
.rhf li{ padding: 15% 5% 3% 5%; }
.rho li{ margin-right: 30%; font-size: 2.6rem; font-weight: bold;}
#gy_to{height: 238px;}
#jk_a a{text-decoration: none;}
#jk_a a .tu_zh:hover{font-weight: bold;}
.pp_pai{width: 40%;padding-left: 0; padding-right: 0; margin: 0 auto;}
#jk_a{height: 500px;}

@media only screen and (min-width:1024px ) {
#superContainer {
    height: 100%;
    position: relative;

    /* Touch detection for Windows 8 */
    -ms-touch-action: none;

    /* IE 11 on Windows Phone 8.1*/
    touch-action: none;
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: scroll;

}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
}
#fp-nav.right {
    right: 17px;
}
#fp-nav.left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
    background: #333;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
}
#fp-nav ul li:hover .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: middle !important;
}
}
@media only screen and (min-width: 1780px) and (max-width: 1920px) {
	#tu_cpcp{width: 50%;}
}

@media only screen and (max-width:767px ) {
.gy_no{width: 100%;}
.xw{width: 100%;}
.x_w li{display: none;}	
.x_w .x_w_img{display: block;}
.x_w_y li{text-align:center;}
.xw_l .img-responsive{margin: 0 auto;}
.xw_l input{display: none;}
.xw_l .inp{display: none;}
.news li h1{font-size: 1.5rem; line-height: 2.2rem;}
.news li h2{font-size: 1.3rem;}
.news li p{font-size: 1.2rem; line-height: 2.2rem;}
.news li, .news_o li{ margin-bottom: 0; padding: 0 8%;}
.news_o li{border: 0;}
.news_o li:hover{background: none;}
.news_o li h2{font-size: 1.3rem;}
.news_o li h1{line-height: 2.2rem;}
.news_o li p{line-height: 2.2rem;}
.x_w_y .li_o{display: none;}
.x_w_y { float: right;}
.x_w_img{padding-bottom: 8%;}
.x_w_y li { text-align: center; padding: 1% 0;}
.news_o .tu_biao{display: none;}
.sm .row div{margin:2% 0;}
.sm h1{font-size: 2.2rem;}
.sm p{line-height:3rem;font-size: 1.2rem;}
.ul_r li{float:left; margin-top: 2%; margin: 0 auto;}
#chanpin_p{font-size: 12px; margin-top: 1%;}
#chanpin_h1{padding-top: 15%; font-size: 2rem;}
#bann p{font-size: 1.2rem;}
#keyanjishu{ padding-top: 10%;}
.renshiwomen{width: 100%;}
.rho{height:239px ;}
.rht{height: 239px;}
.rhth{height: 239px;}
.rhf{height: 239px;}
.rho li{ margin-top: 5%;}
.rht li{ padding: 10% 1% 1% 1%; }
.rhth li{  padding: 3% 1% 1% 1%; }
.rhf li{ padding: 10% 1% 1% 1%;  margin-top: 8%;}
.renshiwomen ul li h1{font-size: 1.2rem; font-weight: bold;}
.renshiwomen ul li p{font-size: 1rem; line-height: 2rem; padding-top: 2%;}
.rho li{margin-right: 20%; font-size: 1.8rem;}	
.pp_pai{width: 100%;}
}
@media only screen and (min-width: 767px) and (max-width: 992px) {
.gy_no{width: 100%;}
.xw{width: 100%;}	
.xw_l input{display: none;}
.xw_l .inp{display: none;}
.news li h1{font-size: 1.5rem;}
.news li h2{font-size: 1.3rem;}
.news li p{font-size: 1.2rem;}
.news{ margin-bottom: 0;}
.news_o li h2{font-size: 1.3rem;}
.x_w_y .li_o{display: none;}
.x_w_y { float: right;}
.x_w_img{padding-bottom: 8%;}
.x_w_y li { text-align: center; padding: 1% 0;}
#ch_o h1{font-size: 12px; font-weight: bold;}
#tu_cpcp{width:85%;}
#ch_o p{font-size: 12px; margin-top: 8%; line-height: 24px;}
.renshiwomen{width: 100%;}
.rho{height:239px ;}
.rht{height: 239px;}
.rhth{height: 239px;}
.rhf{height: 239px;}
.rho li{ margin-top: 5%;}
.rht li{ padding: 5% 5% 3% 5%; }
.rhth li{  padding: 3% 5% 3% 5%; }
.rhf li{ padding: 5% 5% 3% 5%;  margin-top: 8%;}
.renshiwomen ul li h1{font-size: 2rem; font-weight: bold;}
.renshiwomen ul li p{font-size: 1.4rem; line-height: 2rem; padding-top: 5%;}
.rho li{margin-right: 20%; font-size: 2rem;}{height: 150px;}

}
@media (min-width:830px){
#ji_fa{padding: 0;}
#ji_fa li{padding: 0;}
#ji_img{padding: 0;}
#ji_zi{padding-left: 2%; padding-right: 0; padding-top: 3%;}
}

@media (max-width:500px){
.b_t{display: none;}
.navbar-toggle{margin-top: 6%;}
.container .navbar-header .navbar-brand {padding: 17px;}
.gy_wm img { max-width: 100%; }
#car h1{font-size:18px; color: #333333;}
#car p{font-size: 12px; line-height: 14px; height: 30px; overflow:hidden;text-overflow : clip;}
#car{width: 90%; top:5%; position: relative; margin-top: 2%; padding-right: 10%; left: 10%;}
.but{margin-top: 0px;}
.but a{ padding:8px 30px ; font-size: 14px; line-height: 38px;}	
#bor{border: none;}
#li_o{margin-top: 10%;}
#li_o h1{font-size: 1.8rem; padding-top: 4% ; padding-bottom: 1%;}
.li_h1, .li_h2, .li_h3{width:180px;height: 40px;  line-height: 40px;font-size: 1.8rem;}
.tu_o{height: 200px; display: none;}
.tu_o_3 { display: block; }
.tu_o_zh{width: 90%;}
.tu_zh { display: none; }
.tu_zh h1{font-size:2.2rem; margin-top: 10%;}
.tu_zh p{font-size:1.1rem; margin-top: 0%;}
.ji_fa li{margin-top: 0.2%;text-align: center;}
.ji_fa li h1{font-size: 1.5rem;margin-top: 3%;}
.ji_fa li p{ display:none;font-size: 1rem; line-height: 16px; padding-right: 2%;}
.li_33{display: none;}
.li_44{display: none;}
.li_22{display: none;}
.li_11{text-align: center;}
.f_u li h1{font-size: 1.3rem;}
#f_uu{margin-top: 10%;}
#f_uu li{font-size: 1.1rem; line-height: 20px; line-height: 18px;}
.g_s{margin-top: 2%;}
#ji_fa .col-md-8, .col-sm-8, .col-xs-12{padding: 0;}
#ji_fa .col-md-12, .col-sm-12{padding: 0;}
#row{width: 400px;}
#chpin{padding: 2% 0 1% 0; margin-top: 4%;}
#ch_o h1{font-size: 10px; font-weight: bold; text-align: center;}
#chpin img{display: none;}
#ch_o p{display: none;}
.cp{ margin: 0 auto;margin-top: 35%;}
#pp{width: 150%; margin-top: 0; padding-top:2%;}
#biao{margin-top:2%; padding-right:0; padding-left:0;}
#biao p{height: 115px;border-width:2px;}
#ppo h1{margin-top: 2%}
#ppo p{margin-top:-5%; line-height: 2rem; padding-bottom: 5%; font-size: 0.9rem;}
#ppo{padding-left: 0;}
#pinpai li{text-align: center; padding: 5%; font-size:1.2rem;}
#pinpai h1{display: none;}
.k_y{width: 100%;margin-top: 0%;}
.k_y .row li{margin-left: 4%; margin-top: 4%;}
.k_y .row .bj{height: 75px;}
.bjo .col-md-4 .col-sm-4 .col-xs-4{ padding: 0;}
.k_y .row .col-md-8{font-size: 1.2rem; text-align: left; padding-left: 5%;}
#kyjs{padding-top:0%;}
.k_y .row .bjo{padding: 0 10%;}
.xy_h1{ font-size: 2rem; margin-top: 3%;}
.xy_p1{ font-size: 1.4rem;}
.xy_p2{line-height:3rem;font-size: 1.4rem;}
#meiti p{width:80%;font-size: 1.6rem;}
.peiliao{font-size: 1.1rem; }
#guan_yu{width:90%; padding-top: 1%;}
#guan_yu .tu_zh h1{margin-top: 30%; font-size: 3rem; display: none;}
#guan_yu .tu_zh p{margin-top: 2%; font-size: 1.8rem; display: none;}
.g_y{margin-top: 30%; display: none;}
.g_y .gy{height: 30px; display: none;}
.gyo p{line-height:1rem; font-size:1.2rem ;display: none;}	
.gyo span{font-size: 1.1rem;display: none;}
#gy_img .img-responsive{float: none;margin: 0 auto; padding-top: 5%;}
.guanyu{text-align: center;}
.guanyu #jr{font-size: 2rem;}
.guanyu #jr img{display: none;}
.guanyu #se{font-size: 1.4rem;width: 90%; margin: 0 auto; padding-bottom: 2%;}
.gy_no{width: 100%;}
.xw{width: 100%;}
.gy_wm { min-height: 300px; height: auto !important; height: 300px;}
.x_w { margin-top: 110px;}
.x_w li{display: none;}	
.x_w .x_w_img{display: none;}
.x_w_y li{text-align:center;}
.xw_l .img-responsive{margin: 0 auto;}
.xw_l input{display: none;}
.xw_l .inp{display: none;}
.news li{text-align: center;}
.news li h1{font-size: 1.4rem;}
.news li h2{font-size: 1.2rem;}
.news li p{font-size: 1.1rem;}
.news{ margin-bottom: 0;}
.news_o li{border: 0; text-align: center;}
.news_o li:hover{background: none;}
.news_o li h2{font-size: 1.2rem;}
.x_w_y .li_o{display: none;}
.x_w_y { float: right;}
.x_w_img{padding-bottom: 8%;}
.x_w_y li { text-align: center; padding: 1% 0; margin: 0 5px; width: auto;}
.x_w_y li P{padding: 0;}
.news_o .tu_biao{display: none;}
#tu_cpcp{width:90%;}
#ppp{display: none;}
#chanpin_h1{text-align: center;}
#chanpin_p{text-align: center;font-size: 12px; margin-top: 1%;}
#chanpin_h1{padding-top: 5%; font-size: 2rem; font-weight: bold;}
#midle .row p{font-size: 1.5rem;}
#keyanjishu{ padding-top: 3%; font-size: 12px;}
#pppp{display: none;}
#gy_to{height: 90px;}
.jr{display: none;}
#bann{bottom: 0px;}
#col p{font-size: 1.5rem;}
.gy_chpin{display: none;}
#col_p{font-size:0.5rem ; font-weight: normal; color: red;}
.rho li{margin-right: 10%; font-size: 1.3rem;}	
.rht{font-size: 1.2rem;}
.renshiwomen ul li h1{font-size: 1rem;}
.renshiwomen ul li p{ line-height: 1.6rem; padding-top: 1%;}
.rht li{ padding: 15% 2% 3% 2%; }
.rho li{ margin-top: 5%;}
.rhth li{  padding: 3% 2% 3% 2%; }
.rhf li{ padding: 12% 2% 3% 2%;  margin-top: 8%;}
#jk_a{height: 200px;}
}

@media only screen and (min-width: 500px) and (max-width:768px){
.b_t{display: none;}
.navbar-toggle{margin-top: 4%;}
#car h1{font-size:20px;}
#car p{font-size: 11px; line-height: 14px;}
#car{width: 300px; top:5%;}
.but{margin-top: 0px;}
.but a{ padding:8px 30px ; font-size: 14px; line-height: 38px;}	
#col p, #col_p p{font-size: 2.1rem;}
#bor{border: none;}
#li_o{margin-top: 8%;}
#li_o h1{font-size: 2.1rem; padding-top: 5% ; padding-bottom: 2%;}
.li_h1, .li_h2, .li_h3{height: 50px;  line-height: 50px;font-size: 2.1rem;}
.tu_o{height: 350px;}
.tu_o_zh{width: 90%;}
.tu_zh h1{font-size:3.4rem; margin-top: 15%;}
.tu_zh p{font-size:1.6rem; margin-top: 1%;}	
.ji_fa li{margin-top: 0.3%;text-align: center;}
.ji_fa li h1{font-size: 2.1rem;margin-top: 1%;}
.ji_fa li p{font-size: 1.4rem; line-height: 20px;}
.li_33{display: none;}
.li_44{display: none;}
.li_22{display: none;}
.li_11{text-align: center;}
.f_u li h1{font-size: 1.5rem;}
#f_uu{margin-top: 10%;}
#f_uu li{font-size: 1.3rem; line-height: 20px;}
.g_s{margin-top: 3%;}
#row{width: 630px;}
#chpin{padding: 2% 0 1% 0; margin-top: 12%;}
#ch_o h1{font-size: 14px; font-weight: bold; text-align: center;}
#chpin img{display: none;}
#ch_o p{display: none;}
#pp{width: 450px; margin-top: 0; padding-top: 8%;}
#biao{margin-top:2%;}
#biao p{height: 200px;border-width:2px; }
#ppo h1{margin-top: 2%;}
#ppo p{margin-top:1%; line-height: 3rem; padding-bottom: 5%; font-size: 1.4rem;}
#pinpai .glyphicon .glyphicon-triangle-bottom{ padding-right: 10%;}
.k_y{width: 95%;margin-top: 2%;}
.k_y .row .bj{height: 100px;}
.k_y .row .col-md-8{font-size: 1.4rem;}
.xy_h1{ font-size: 2.2rem; margin-top: 3%;}
.xy_p1{ font-size: 1.4rem;}
.xy_p2{line-height: 3rem;font-size: 1.6rem;}
#meiti p{font-size: 2rem;width:80%;}
#guan_yu{width:95%; padding-top: 1%;}
#guan_yu .tu_zh h1{margin-top: 30%; font-size: 3rem;}
#guan_yu .tu_zh p{margin-top: 2%; font-size: 1.8rem;}
.g_y .gy{height: 50px;}
.g_y .gyo{top:35%}
.gyo p{line-height:1rem; font-size:1.4rem ;}	
.gyo span{font-size: 1.1rem;display: none;}
#gy_img .img-responsive{float: none;margin: 0 auto; padding-top: 5%;}
.guanyu{text-align: center;}
.guanyu #jr{font-size: 3rem;}
.guanyu #se{font-size: 1.5rem;}
.gy_no{width: 100%; margin: 0 auto;}
.xw{width: 100%;}
#pp{display: none;}
#tu_cpcp{width:85%;}
#gy_to{height: 100px;}
}
@media only screen and (min-width: 500px) and (max-width: 562px) {
#guan_yu{width:98%; padding-top: 1%;}	
.gyo p{line-height:0.9rem; font-size:1.2rem ;}	
}
@media only screen and (min-width: 1000px) and (max-width:1300px){
#car h1{font-size: 80px;}
#car p{font-size: 14px;}
#car{width: 600px; text-align: left; top:20%;}
.but{margin-top: 15px;}
.but a{ padding:15px 50px ; }
.tu_o{height: 600px;}
.tu_zh h1{font-size:5rem; margin-top: 25%;}
.tu_zh p{font-size:2.1rem; margin-top: 2%;}	
#pp p{margin-top: 5%; line-height: 3rem; padding-bottom: 5%; font-size: 2rem;}
.k_y{width: 80%; margin-top: 2%;}
#guan_yu{width: 90%; padding-top: 1%;}
#guan_yu .tu_zh h1{margin-top: 25%;}
.g_y .gy{height: 125px;}
#gy_to{height: 238px;}
}
@media only screen and (min-width: 1000px) and (max-width: 1050px) {
.gyo p{line-height: 1.2rem; font-size:1.8rem ;}	
.gyo span{font-size: 1.3rem;}
#gy_to{height: 238px;}
}
@media only screen and (min-width: 768px) and (max-width:1000px){
#car h1{font-size:60px;}
#car p{font-size: 12px;}
#car{width: 500px; text-align: left; top:15%;}
.but{margin-top: 10px;}
.but a{ padding:10px 50px ; }
#li_o h1{font-size: 2.3rem;padding-bottom: 2%;}
.li_h1, .li_h2, .li_h3{height: 55px;  line-height: 55px;font-size: 2.3rem;}	
.tu_o{height: 500px;}
.tu_o_zh{width: 90%;}
.tu_zh h1{font-size:4rem; margin-top: 20%;}
.tu_zh p{font-size:2rem; margin-top: 2%;}	
.ji_fa li{margin-top: 0.3%;}
.ji_fa li h1{font-size: 1.8rem;}
.ji_fa li p{font-size: 1.3rem; line-height: 22px;}
.li_33{display: none;}
.f_u li{margin-left: 5%;}
.f_u li h1{margin-left: 5%;}
#chpin{padding: 2% 0; margin-top: 5%;}
#ch_o h1{font-size: 18px; font-weight: bold;}
#ch_o p{font-size: 12px; margin-top: 6%; line-height: 22px;}
#biao p{height: 250px;border-width: 4px;}
#ppo p{margin-top: 5%; line-height: 3rem; padding-bottom: 5%; font-size: 1.7rem;}
.k_y{width: 85%;  }
.k_y .row .bj{height: 150px;}
.k_y .row .col-md-8{font-size: 1.8rem;}
.xy_h1{ font-size: 2.4rem;}
.xy_p1{ font-size: 1.3rem;}
.xy_p2{line-height: 2.5rem;font-size: 1.8rem;}
#meiti p{font-size: 2rem;width:90%;}
#guan_yu{width:75%; padding-top: 1%;}
#guan_yu .tu_zh h1{margin-top: 30%; font-size: 3rem;}
#guan_yu .tu_zh p{margin-top: 2%; font-size: 1.8rem;}
.g_y .gy{height: 125px;}
.gyo p{line-height:1rem; font-size:1.5rem ;}	
.gyo span{font-size: 1.1rem;}
{height: 210px;}
}
@media only screen and (min-width: 769px) and (max-width: 830px) {
	#gy_to{height: 190px;}
}
@media only screen and (min-width: 768px) and (max-width: 890px) {
	.news li p{font-size: 1.1rem;}
	.news li h1{font-size: 1.4rem;}
.news li h2{font-size: 1.2rem;}
.news{padding: 3% 2%;}
}
@media only screen and (min-width: 992px) and (max-width:1300px ) {
#ch_o h1{font-size: 18px; font-weight: bold;}
#tu_cpcp{width: 70%;}
#ch_o p{font-size: 12px; margin-top: 8%; line-height: 24px;}
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
   
}
@media only screen and (max-height:1060px ) {
	.section{padding-top: 2%;}
	.section1{padding-top: 6%;}
	.section2{padding-top: 2%;}
	.section3{padding-top: 1%;}
}
@media only screen and (max-height:900px) {
	.section{padding-top: 2%;}
	.section1{padding-top: 5%;}
	.section2{padding-top: 2%;}
	.section3{padding-top: 1%;}
	.se_f{margin-top: 5%;}
	.sc_jk{margin-top: 10%;}
	.se_ky{padding-top: 6%;}
	.se_kk{padding-top: 20%;}
}