
{if $_GET['a']==''||$catid=='11'}
<div class="section fp-auto-height"{if $_GET['a']==''}style="padding-top: 0;"{else}style="padding-top: 4%;"{/if}>
    {/if}
    <footer>
        <div class="container" style="padding: 0;">
            <ul class="col-md-12 col-sm-12 f_u" style="padding: 0;">
                <li class="col-md-3 col-sm-3 li_11" style="padding: 0;">
                    {pc:get sql="select * from hl_category where catid='46'"  return="data"}
                    <h1>{$data[0][catname]}</h1>
                    {/pc}
                    <ul id="f_uu" class="col-md-12 col-sm-12" style="padding: 0; margin-top: 0;">
                        {pc:get sql="select * from hl_page where catid='46'"  return="data"}
                        {$data[0][content]}
                        {/pc}
                    </ul>
                </li>

                <li class="col-md-2 col-sm-2 li_22" style="padding: 0;">
                    {pc:get sql="select * from hl_category where catid='42'"  return="data"}
                    <h1>{$data[0][catname]}</h1>
                    {/pc}

                    <ul id="f_uu" class="col-md-12 col-sm-12" style="padding: 0; margin-top: 0;">
                        {pc:content action="lists" moreinfo="1" catid="42" order="id asc" num="4"}
                        {loop $data $k $r}
                        <li><a href="{$r[url]}">{$r[title]}</a></li>
                        {/loop}
                        {/pc}
                    </ul>
                </li>
                {pc:get sql="select * from hl_category where catid='50'"  return="data"}

                <li class="col-md-2 col-sm2 li_33" style="padding: 0;"><h1>{$data[0][catname]}</h1>
                    {/pc}
                    <ul id="f_uu" class="col-md-12 col-sm-12" style="padding: 0; margin-top: 0;">
                        {pc:get sql="select * from hl_category where parentid='50'" return="data1"}

                        {loop $data1 $k $r}
                        <li><a href="{$r[url]}">{$r[catname]}</a></li>
                        {/loop}
                        {/pc}
                    </ul>
                </li>
                <li class="col-md-5 col-sm-5 li_44" style="padding: 0;">
                    {pc:get sql="select * from hl_category where catid='43'"  return="data"}
                    <h1>{$data[0][catname]}</h1>
                    {/pc}
                    <ul id="f_uu" class="col-md-12 col-sm-12" style="padding: 0; margin-top: 0;">
                        {pc:content action="category" catid="43" num="2" order="listorder ASC" return="data1"}
                        {loop $data1 $k $r}
                        <li class="col-md-5 col-sm-5" style="padding: 0;">{$r[catname]}<br/><img src="{$r[image]}"/></li>
                        {/loop}
                        {/pc}
                    </ul>
                </li>
            </ul>
            <div class="g_s">
                {pc:get sql="select * from hl_category where catid='48'"  return="data"}
                {$data[0][catname]}  {$data[0][description]}
                {/pc}

            </div>

        </div>
    </footer>
    {if $_GET['a']==''||$catid=='11'}
</div>
        {/if}
</div>
</div>


</body>
</html>

