{template "","header"}

{template "","gy_header"}
		<!--认识我们-->
		<div class="container gy_wm renshiwomen" style="padding-left: 0; padding-right: 0;{if $catid!=37}display:none;{/if}">
			<ul style="background: url({IMG_PATH}/healstec/renshi_05.jpg) no-repeat center;background-size:cover ;width: 100%; padding-left: 0; margin-top: 0;" class="rho">
				<li style="float: right; letter-spacing: 1px;">我们是谁</li>
			</ul>
			{pc:content action="lists" moreinfo="1" catid="37" order="id asc" num="3"}
			{loop $data $k $r}
			<ul style="background: url({$r[thumb]}) no-repeat center;background-size:cover ;width: 100%;  padding-left: 0;{if $n==3} margin-top: 1%; margin-bottom: 10%;{/if}" {if $n==1}class="rht"{/if}
			{if $n==2}class="rhth"{/if}
			{if $n==3}class="rhf"{/if}
			>
				<li style="letter-spacing: 1px; color: #FFFFFF; width: 50%;
				{if $n==2}float: right{/if}
				{if $n==3}margin-left: 4%{/if};
				">
				<h1 >{$r[title]}</h1>


					<p>{$r[content]}</p>
				</li>				
			</ul>
			{/loop}
			{/pc}
		</div>
		
				
			
		
		<!--价值观-->
		<div class="container-fluid gy_wm" {if $catid!=38} style=" display: none;"{/if}>
			{pc:content action="lists" catid="38" order="id asc" num="1"}
			{loop $data $k $r}
			<p align="center"><img src="{$r[thumb]}"/></p>
			{/loop}
			{/pc}

		</div>
		<!--使命愿景-->	
		<div class="container-fluid sm gy_wm" style="{if $catid!=39}display: none;{/if} background: url({IMG_PATH}/healstec/gysm01_05.jpg) no-repeat center; background-size: cover;width: 100%; he702">
			<div class="row">
				{pc:content action="lists" moreinfo="1" catid="39" order="id asc" num="2"}
				{loop $data $k $r}
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h1 {if $n==1}style="color: #f19e00;"{/if}>{$r[title]}</h1>
					<p>{$r[content]}</p>
				</div>
				{/loop}
				{/pc}
			</div>
		</div>
		
		<!--核心竞争力-->
{pc:content action="lists" moreinfo="1" catid="40" order="id asc" num="1"}
{loop $data $k $r}
		<div class="ry gy_wm" style="{if $catid!=40}display:none;{/if} background: url({$r[thumb]}) no-repeat center; background-size: cover; width: 100%; height: 673px; margin-top: 0; padding-top: 0;">
		<div class="container ryo">


			<div style="float: right;">
				<h1 style="margin-top: 20%; font-size: 26px; color: #0097a5; text-align: right; margin-top:10%;">
					{$r[title]}</h1>
				<div style="background: rgba(1,116,123,0.8);width: 300px; overflow: hidden; color: #FFFFFF; font-size: 15px; line-height: 3rem; padding: 8%;">
					{$r[content]}
				</div>
			</div>
			{/loop}
			{/pc}



		</div>		
		</div>
		
		<!--新闻-->
		<div class="container xw gy_wm" style="padding-left: 0; padding-right: 0; padding-top: 0;{if $catid!=41}display: none;{/if}">
			<div class="row">
			<div class="col-md-4 col-sm-4 xw_l col-xs-12">
                {pc:content  action="position" posid="10" catid="41" thumb="1" order="listorder DESC" num="1"}
                {loop $data $v}
				<h1><img src="{$v[thumb]}" class="img-responsive"/></h1>
                {/loop}
                {/pc}
                <form id="news_search" action="{APP_PATH}index.php" method="get">
				<input type="hidden" name="m" value="content">
                    <input type="hidden" name="c" value="index">
                    <input type="hidden" name="a" value="lists">
                    <input type="hidden" name="catid" value="41">
                    <div class="inp col-md-12 col-sm-12" style="padding-left: 0; padding-right: 0; margin-top: 8%;">

					<input type="text" name="key_word" value="{if $key_word==''}输入新闻关键词{else} {$key_word} {/if}" onfocus="if (value =='输入新闻关键词'){value =''}"onblur="if (value ==''){value='输入新闻关键词'}" style="color: #9a9a9a;"/>
					<div  id="submit" class="glyphicon glyphicon-search s_s"></div>
				</div>
				<div class="inp col-md-12 col-sm-12" style="padding-left: 0; padding-right: 0; margin-top: 2%;">
					
					<select name="date">

						<option value="1" {if $date==1}selected="selected"{/if}>最近一周</option>
						<option value="2" {if $date==2}selected="selected"{/if}>最近一个月</option>
						<option value="3" {if $date==3}selected="selected"{/if}>最近三个月</option>
						<option value="4" {if $date==4}selected="selected"{/if}>最近半年</option>
						<option value="5" {if $date==5}selected="selected"{/if}>最近一年</option>
					</select>
				</div>
                </form>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-12" style="padding-left: 0;">

				<ul class="col-md-12 col-sm-12 news col-xs-12">
                    {pc:content  action="position" posid="10" catid="41" thumb="1" order="listorder DESC" num="1"}
                    {loop $data $v}
					<li><h1>{$v[title]}</h1>
						<h2>{date('Y-m-d',$v[inputtime])}</h2>
						<p>{$v[description]}</p>
					</li>
                    {/loop}
                    {/pc}
				</ul>
				<ul class="col-md-12 col-sm-12 news_o col-xs-12" style="padding: 0;">
                    {loop $data_arr $k $r}
					<li class="col-md-12 col-sm-12 li_o col-xs-12">
						<a href="#">
						<h2 class="col-md-2 col-sm-2 col-xs-12" style="padding-left: 0; padding-right: 0;">{date('Y-m-d',$r[inputtime])}</h2>
						<div class="col-md-9 col-sm-9 col-xs-12" style="padding-left: 0; padding-right: 0;"><h1>{$r[title]}</h1>
							<p>{$r[description]}</p>
						</div>
						<div class="col-md-1 col-sm-1 col-xs-1 glyphicon glyphicon-chevron-right tu_biao" style="padding-left: 0; padding-right: 0;"></div>		
						</a>
					</li>
                    {/loop}

				</ul>
			</div>
			</div>
		</div>
        <script>
            $(function () {
                $('#submit').click(function(){
                    $('#news_search').submit();
                })
            })
        </script>
{template "","footer"}

