{template "","header"}


		
		<!--
        	作者：861343142@qq.com
        	时间：2017-05-16
        	描述：banner
       -->
      <div id="dowebok">
      	<div class="section fp-auto-height" style="padding-top: 0;">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="margin-top: 85px; ">
  <!-- Indicators -->
  

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  	<ol class="carousel-indicators" id="carouse" style="bottom: 0;">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active" ></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>
      {pc:content  action="position" posid="2" order="listorder DESC" num="2"}
      {loop $data $k $r}
      <div class="item {if $n==1}active{/if}">
          <img src="{$r[thumb]}" alt="{$r[title]}" class="img-responsive">
          <div class="carousel-caption" id="car">
              <h1 id="jr" class="jr">{str_cut($r[description],112)}</h1>
          </div>
          <div class="carousel-caption" id="ban">
          </div>
          <div class="carousel-caption" id="bann" >
              <p id="se"><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],36,'')}</a></p>
          </div>
      </div>
      {/loop}
      {/pc}
  </div>
</div>
		
		<script src="{JS_PATH}/healstec/bootstrap.min.js"></script>
		<script type="text/javascript">
			$('.carousel').carousel({  
    		interval: 10000  
				});
		</script>
		</div>
	
	<div class="section" style="padding-top: 0; height: 5%; padding-bottom: 0;">
		<div class="container" id="midle">
			<div class="row">
				<div class="col-md-12  col-sm-12"  id="col"><p>科研技术</p></div>
				<ul class="col-md-12  col-sm-12 ">
                    {pc:content action="category" catid="11" num="3" siteid="$siteid" order="listorder ASC"}
                    {php $c=end(array_keys($data))}
                    {loop $data $k $r}
                    <li class="col-md-4 col-sm-4" id="li_o">
                        <span class="col-md-12 col-sm-12"><img src="{$r[image]}" class="img-responsive center-block"/></span>
                        <h1>{$r[description]}</h1>
                        <h2 class="li_h1"><a href="{$r[url]}">{$r[catname]}</a></h2>
                    </li>
                    {/loop}
                    {/pc}
				</ul>
			</div>
		</div>
	</div>
		
		<div class="section fp-auto-height section1">
		<div class="container" id="midle_o">
			<div class="row">
				<div class="col-md-12  col-sm-12"  id="col"><p>健康方案</p></div>
			</div>
		</div>
		{pc:get sql="select * from hl_page where catid='22' " cache="3600" return="data" }
			<div class="container-fluid tu_o"
				 style="background: url({$data[0][image1]}); width: 100%; background-size: cover;">
				<a href="ky_jk.html">
					<div class="row">
						<div class="tu_o_zh">
							<div class="tu_zh">

								<h1>{$data[0][title]}</h1>
								<p>{$data[0][content]}</p>



						</div>
						</div>
					</div>
				</a>
			</div>
		{/pc}
		</div>

		
	<div class="section fp-auto-height section1">
		{pc:get sql="select * from hl_category where catid='13' " cache="3600" return="data" }
		<div class="container" id="midle ">
			<div class="row">
				<div class="col-md-12  col-sm-12"  id="col"><p>{$data[0][catname]}</p></div>
			</div>
		</div>		
		<div class="container-fluid tu_o" style="background: url({$data[0][big_image]}); width: 100%; background-size: cover;">
			<a href="yingyang.html">
			<div class="row">
				<div class="tu_o_zh">
					<div class="tu_zh">
						<h1 style="color: #ffffff;">{$data[0][catname]}</h1>
					<p style="color: #ffffff;">{$data[0][description]}</p>
				</div>
				</div>
			</div>
			</a>
		</div>
		{/pc}
	</div>
		
		<div class="section " style="padding-top: 0;">
		<div class="container" id="midle_o" style="margin-bottom: 0;">
			<div class="row" id="pd">
				<div class="col-md-12  col-sm-12"  id="col"><p>最新消息</p></div>
				<ul class="col-md-12  col-sm-12 ji_fa" id="ji_fa">
					{pc:content action="lists" catid="15" order="updatetime DESC" thumb="1" num="3"
					return="info"}
					{loop $info $v}
					<li class="col-md-12  col-sm-12">
						<img src="{$v[thumb]}" class="col-md-8  col-sm-8 col-xs-12 img-responsive"
							 id="ji_img">
						<div class="col-md-4 col-sm-4 col-xs-12" id="ji_zi">
							<h1>{$v['title']}</h1>
							<p>{str_cut($v['description'],100)}</p>
						</div>
					</li>

					{/loop}
					{/pc}
				</ul>
			</div>
		</div>
		</div>

		  {template "","footer"}

