{template "","header"}
					
		<div id="dowebok">
			<div class="section  fp-auto-height section3" style="padding-top: 0;">
				{pc:get sql="select * from hl_category where catid='11'" cache="3600" return="data"}
		<div class="container-fluid tu_o tu_o_2 tu_o_3" style="padding-top: 0; margin-top: 85px; background: url({$data[0][big_image]}) no-repeat center; width: 100%; background-size: cover;">
			<div class="row">				
				<div class="tu_o_zh" id="tu_cpcp">
					<div class="tu_zh" id="keyanjishu" style="width: 100%; text-align: right;">
					<h1  id="chanpin_h1" style="color: #01396a;">{$data[0][catname]}</h1>
					<p></p>
					<div class="clearfix"></div>
					<p id="chanpin_p" style="color: #01396a;">{$data[0][description]}</p>
				</div>
				</div>
				{/pc}
			</div>
		</div>
		</div>
			{pc:content action="category" catid="11" num="25" siteid="$siteid" order="listorder desc"}
			{loop $data $k $r}
			<div class="container" id="midle">
				<div class="row">
					<div class="col-md-12  col-sm-12" id="col"><p>{$r[catname]}</p></div>
				</div>
			</div>
			<a href="{$r[url]}" class="tu_o_1">
				<div class="container-fluid tu_o"
					 style="background: url({$r[big_image]}); width: 100%;  background-size: cover;">
					<div class="row">
						<div class="tu_o_zh">
							<div class="tu_zh">
								<h1 style="color: #363636;">{$r[catname]}</h1>
								<p style="color: #363636;">{$r[description]}</p>
							</div>
						</div>
					</div>
				</div>
			</a>
			{/loop}
			{/pc}

			{template "","footer"}
		

