{template "","header"}
<script>
    $(function () {
        $('.keyan-tab>div').on('click', function () {
            $(this).parents('.keyan-tab').find('div').removeClass('active');
            $(this).addClass('active');

            $(this).parents('.gy_wm').find('.keyanbox').hide();

            if ($(this).hasClass('keyan1')) {
                $(this).parents('.gy_wm').find('.keyantab1').fadeIn(500);
            } else if ($(this).hasClass('keyan2')) {
                $(this).parents('.gy_wm').find('.keyantab2').fadeIn(500);
            } else if ($(this).hasClass('keyan3')) {
                $(this).parents('.gy_wm').find('.keyantab3').fadeIn(500);
            } else if ($(this).hasClass('keyan4')) {
                $(this).parents('.gy_wm').find('.keyantab4').fadeIn(500);
            }
        })
    });
</script>
<link type="text/css" rel="stylesheet" href="{CSS_PATH}/healstec/styles.css"/>
{pc:get sql="select * from hl_category where catid='11'" cache="3600" return="data"}
    <div class="container-fluid tu_o" style="background: url({$data[0][image1]}) center; width: 100%;  background-size: cover; margin-top: 70px;"  id="gy_to"></div>
<div class="container-fluid tu_o"
     style="background: url({$data[0][image1]}) center; width: 100%;  background-size: cover; margin-top: 70px;display: none;"
     id="gy_to"></div>
<div class="container-fluid tu_o"
     style="background: url({$data[0][image1]}) center; width: 100%;  background-size: cover; margin-top: 70px;display: none;"
     id="gy_to"></div>
<div class="container-fluid tu_o"
     style="background: url({$data[0][image1]}) center; width: 100%;  background-size: cover; margin-top: 70px;display: none;"
     id="gy_to"></div>
<div class="container-fluid tu_o"
     style="background: url({$data[0][image1]}) center; width: 100%;  background-size: cover; margin-top: 70px;display: none;"
     id="gy_to"></div>
{/pc}
<div class="container-fluid" style="border-bottom: 1px solid #f4f4f4;">
        <div class="row gy_no">
            <ul class="col-md-6 col-sm-4 col-xs-12 x_w" style="padding-bottom: 0; margin-bottom: 0;">
                <li class="col-md-1 col-sm-2 x_w_img col-xs-12" style="background: #f4f4f4; text-align: center;"><img src="{IMG_PATH}/healstec/hgyxy_05.jpg" /></li>
                {pc:get sql="select * from hl_category where catid='11'" cache="3600" return="data"}
                <li class="col-md-2 col-sm-4" style="padding-right: 0;">
                    <a href="{$data[0][url]}" style="color: black"><p>{$data[0][catname]}</p></a>
                </li>
                {/pc}
                <li class="col-md-1 col-sm-1" style="padding-left: 0; text-align: center;"><img src="{IMG_PATH}/healstec/xw_08.jpg" /></li>
                {pc:get sql="select * from hl_category where catid='$catid'" cache="1" return="data1"}
                <li class="col-md-2 col-sm-4" style="padding-left: 0; color: #0096a5;" id="text">
                    <p>{$data1[0][catname]}</p>
                </li>
                {/pc}
            </ul>
            <ul class="col-md-6 col-sm-7 x_w_y col-xs-12" style="padding-bottom: 0; margin-bottom: 0; text-align: center;" id="onck">
                {pc:content action="category" catid="11" num="25" siteid="$siteid" order="listorder ASC"}
                {loop $data $k $r}
                <li class="col-md-2 col-sm-2 x_w_y_li col-xs-3" {if $catid==$r[catid]}
                    style="padding-right: 0; border-bottom: 1px solid #f7ac1d;"{/if} >
                    <p>{$r[catname]}</p>
                </li>
                {/loop}
                {/pc}

            </ul>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            var $p = $("#onck li");
            $p.css("cursor", "pointer");
            $p.click(function() {
                //选中的文字添加下边框
                $p.css({
                    "border-bottom": "0",
                })
                $(this).css({
                        "border-bottom": "1px solid #f7ac1d",
                    })
                    //选中后其左面显示其一致的文字内容并加上颜色效果
                var $tex = $("#text p");
                $tex.text($(this).text()).css("color", "#0096a5");
                //选中后相应的banner图转换
                var $im = $(".tu_o");
                $im.css("display", "none");
                $im.eq($(this).index()).css("display", "block");
                //点击展示相应内容
                var $gy = $(".gy_wm");
                $gy.css("display", "none");
                $gy.eq($(this).index()).fadeIn(500); //透明渐入效果

            })
        })
    </script>

       <!--关注科研-->
    <div class="container gy_wm" {if $catid!=23}style=" display: none;"{/if}>

        {pc:content action="lists" moreinfo="1" catid="23" order="id desc" num="1"}

        {loop $data $k $r}
        <div class="keyanbox keyantab1" style="display: block;">
            <div class="row keyanImg">
                {php $image_arr=json_decode($r[muti_image],true);}
                {loop $image_arr $image}
                <div class="col-xs-4 col-sm-4 col-md-4">
                    <img src="{$image[url]}" />
                </div>
                {/loop}
            </div>

            <div class="row keyan-p">
                <h3>
                    {$r[title]}
                </h3>
                {$r[content]}

            </div>
        </div>
        {/loop}
        {/pc}
    </div>

    <!--技术探索-->
    <div class="container gy_wm" {if $catid!=24}style=" display: none;"{/if}>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="row keyan-tab">
                    {pc:content action="lists"  catid="24" order="id asc" num="2"}
                    {loop $data $v}
                    <div class="col-xs-6 col-sm-6 col-md-6 keyan{$n} {if $n==1}active{/if}">
                        {$v[title]}
                    </div>
                    {/loop}
                    {/pc}
                </div>
            </div>
        </div>
        {pc:content action="lists" moreinfo="1" catid="24" order="id asc" num="2"}
        {loop $data $v}
        <div class="keyanbox keyantab{$n}" {if $n==1}style="display: block;"{/if}>

            <div class="row keyan-p">
                <img src="{$v[thumb]}" class="keyanImg2">
                <p>
                    　　{$v[content]}
                </p>
            </div>
        </div>
        {/loop}
        {/pc}
    </div>

       <!--健康方案-->
    <div class="container gy_wm" style="width: 100%; padding: 0 0 2% 0;margin: 0;{if $catid!=25}display:none{/if}">
        <div class="container ">
            <div class="row">
            <div class="col-md-12  col-sm-12 col-xs-12" style="display: none;">
                <p id="chanpin_p" style="color: #000000; text-align: center; font-size: 14px; line-height: 24px;">我们用已知的科学积累和严谨的科研态
                    度，加之强烈的责任感和爱心，为您奉上针对不同人群的健康解决方案，安全无忧，健康生活！</p>
            </div>
            </div>
        </div>
        {pc:content action="lists" moreinfo="1" catid="25" order="id asc" num="20"}
        {loop $data $v}
        <div class="container" id="midle">
            <div class="row">
                <div class="col-md-12  col-sm-12"  id="col"><p>{$v[title]}</p></div>
            </div>
        </div>
        <div id="jk_a" style="background: url({$v[thumb]}); width: 100%;  background-size: cover; margin-top: 2%;">
        <a href="{$v[url]}" >
            <div class="row">
                <div class="tu_o_zh">
                    <div class="tu_zh">
                        <h1 style="color: #363636;">{$v[title]}</h1>
                    <p style="color: #363636;">{$v[description]}</p>

                </div>              
            </div>
           </div>>
        </a>
        </div>
        {/loop}
        {/pc}

        

    </div>
    
      
    <!--生产加工-->
    <div class="container gy_wm" {if $catid!=26}style=" display: none;"{/if}>
        <div class="keyanbox keyantab1" style="display:block" >

{pc:content action="lists" moreinfo="1" catid="26" order="id desc" num="1"}

{loop $data $k $r}
            <div class="row keyan-p">
                <h3 style="margin-top: 0;">
                    {$r[title]}
                </h3>
                {$r[content]}

            </div>
{/loop}
{/pc}
        </div>  
    </div>


{template "","footer"}
