{template "","header"}
						
<div id="dowebok">
			<div class="section fp-auto-height" style="padding-top: 0;">
				{pc:get sql="select * from hl_category where catid='14'" cache="3600" return="data"}
		<div class="container-fluid tu_o tu_o_2 tu_o_3" style="padding-top: 0; margin-top: 85px; background: url({$data[0][big_image]}) no-repeat center; width: 100%; background-size: cover;">
			<div class="row">
				<div class="tu_o_zh" id="tu_cpcp">
					<div class="tu_zh" id="keyanjishu" style="width: 100%; text-align: right;">
					<h1  id="chanpin_h1" style="color: #ffffff;">{$data[0][catname]}</h1>
					<p></p>
					<div class="clearfix"></div>
					<p id="chanpin_p" style="color: #ffffff;">{$data[0][description]}</p>
				</div>
				</div>
			</div>
		</div>
		</div>
		</div>
{/pc}
{pc:get sql="select * from hl_category where catid='32'" cache="3600" return="data_ca"}
		<div class="container" id="midle">
			<div class="row">
				<div class="col-md-12  col-sm-12"  id="col"><p>{$data_ca[0][catname]}</p></div>
			</div>
		</div>
{pc:content action="lists" moreinfo="1" catid="32" order="id DESC" num="10"}
{loop $data $k $r}
		<a href="{$r[url]}">
            {if $n%2==1}
		<div class="container-fluid tu_o tu_o_2" style="background: url({$r[thumb]}); width: 100%;  background-size: cover; margin-bottom:2%;">
            	<div class="tu_o_zh " style="padding-top: 8%;" id="tu_cp" >
				<div class="tu_zh row" id="pp">
					<div class="col-md-1 col-sm-1 col-xs-1" id="biao">
						<p></p>
					</div>
					<div class="col-md-11 col-sm-11 col-xs-11" id="ppo">
					<h1 class="col-xs-12">{$r[title]}</h1>
					<p style="font-size: 18px; margin-top: -1%;" class="col-xs-12">{$r[keywords]}</p>
					<p class="col-xs-12">{$r[description]}</p>
					</div>
				</div>	
				</div>        								
		</div>
            {else}
        <div class="container-fluid tu_o tu_o_2" style="background: url({$r[thumb]}); width: 100%;  background-size: cover; margin-top: 0; padding-top: 0;">
            <div class="tu_o_zh " style="padding-top: 8%;" id="tu_cp " >
                <div class="tu_zh row" id="pp" style="float: right;">
                    <div class="col-md-1 col-sm-1 col-xs-1" id="biao" style="text-align: right; float: right;">
                        <p style="float: right;"></p>
                    </div>
                    <div class="col-md-11 col-sm-11 col-xs-11" id="ppo" style="text-align: right; padding-right: 0;">
                        <h1>{$r[title]}</h1>
                        <p style="font-size: 18px; margin-top: -1%;">{$r[keywords]}</p>
                        <p class="col-xs-12">{$r[description]}</p>
                    </div>
                </div>
            </div>
        </div>
            {/if}
		</a>
{/loop}
{/pc}
	
{/pc}


			

		<div class="container" id="midle">
			<div class="row">
                {pc:get sql="select * from hl_category where catid='36'" cache="3600" return="data_ca"}
				<div class="col-md-12  col-sm-12"  id="col"><p>{$data_ca[0][catname]}</p></div>
                {/pc}
			</div>
		</div>
		<div class="container" style=" margin:2% auto;">
			<ul class="row" style="padding-left: 0" >
                {pc:content action="lists" catid="36" order="id DESC" num="10"}
                {loop $data $k $r}
				<li class="col-md-12 col-sm-12 col-xs-12 p_pai"  style=" padding-top: 15px;"  {if $n>1} id="ppai"{/if} >
					<a href="{$r[redirect_url]}"  >
					<div class="col-md-11 col-sm-10 col-xs-9"><p >{$r[title]}</p></div>
					<h1 class="glyphicon glyphicon-triangle-bottom col-md-1 col-sm-2 col-xs-3"  style="text-align: center;"></h1>
					</a>
<!-- 					<ul class="row" id="pinpaineirong" style="display: none; padding-left: 0 ; padding-right: 0;">
				<li class="col-md-2 col-sm-2 col-xs-2" >
					<p><a href="#">果蔬</a></p>
				</li>
				<li class="col-md-2 col-sm-2 col-xs-2" >
					<p><a href="#">餐具</a></p>
				</li>
				<li class="col-md-2 col-sm-2 col-xs-2" >
					<p><a href="#">奶瓶</a></p>
				</li>
			</ul> -->
				</li>
                {/loop}
                {/pc}
            </ul>
		</div>
        	<script type="text/javascript">
			$(function(){
				$(".p_pai").hover(function(){
					$("#pinpaineirong").css("display","block");
				}).mouseleave(function(){
					$("#pinpaineirong").css("display","none");
				})
			})
		</script>


{template "","footer"}
