{template "","header"}
<script src="{JS_PATH}/healstec/jquery-3.1.1.min.js" type="text/javascript"></script>

<script>
    window.jQuery || document.write('<script src="{JS_PATH}/healstec/jquery-3.1.1.min.js"><\/script>')
</script>
<script src="{JS_PATH}/healstec/bootstrap.min.js"></script>
<script type="text/javascript" src="{JS_PATH}/healstec/nav.js"></script>
<link type="text/css" rel="stylesheet" href="{CSS_PATH}/healstec/styles.css"/>
<style>
    .gongyi2Main {
        padding-top: 20px;
    }
    .gongyi2Main {
        /* width: 100%; */

    }
</style>
{pc:get sql="select * from hl_category where catid='12'" cache="3600" return="data"}
    <div class="container-fluid tu_o" style="background: url({$data[0][image1]}) center; width: 100%;  background-size: cover; margin-top: 70px;" id="gy_to"></div>
    <div class="container-fluid tu_o" style="background: url({$data[0][image1]}) center; width: 100%;  background-size: cover; margin-top: 70px; display: none;" id="gy_to"></div>
{/pc}

    <div class="container-fluid" style="border-bottom: 1px solid #f4f4f4;">
        <div class="row gy_no clearfix">
            <ul class="col-md-6 col-sm-4 col-xs-12 x_w" style="padding-bottom: 0; margin-bottom: 0;">
                <li class="col-md-1 col-sm-2 x_w_img col-xs-12" style="background: #f4f4f4; text-align: center;"><img src="{IMG_PATH}/healstec/hgyxy_05.jpg" /></li>
                {pc:get sql="select * from hl_category where catid='12'" cache="3600" return="data"}
                <li class="col-md-2 col-sm-4" style="padding-right: 0;">
                    <a href="{$data[0][url]}" style="color: black"><p>{$data[0][catname]}</p></a>
                </li>
                {/pc}
                <li class="col-md-1 col-sm-1" style="padding-left: 0; text-align: center;"><img src="{IMG_PATH}/healstec/xw_08.jpg" /></li>
                {pc:get sql="select * from hl_category where catid='$catid'" cache="1" return="data1"}
                <li class="col-md-2 col-sm-4" style="padding-left: 0; color: #0096a5;" id="text">
                    <p>{$data1[0][catname]}</p>
                </li>
                {/pc}
            </ul>
            <ul class="col-md-4 col-sm-5 x_w_y col-xs-12" style="float:right; padding-bottom: 0; margin-bottom: 0; text-align: center;" id="onck">
                {pc:content action="category" catid="12" num="25" siteid="$siteid" order="listorder ASC"}
                {loop $data $k $r}
                <li class="col-md-4 col-sm-4 {if  $catid!=$r[catid]} x_w_y_li{/if} col-xs-4"  {if $catid==$r[catid]}style="padding-right: 0; border-bottom: 1px solid #f7ac1d;"{/if} >
                    <p><a href="{$r[url]}" style="color:black">{$r[catname]}</a></p>
                </li>
                {/loop}
                {/pc}


            </ul>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            var $p = $("#onck li");
            $p.css("cursor", "pointer");
            $p.click(function() {
                //选中的文字添加下边框
                $p.css({
                    "border-bottom": "0",
                })
                $(this).css({
                        "border-bottom": "1px solid #f7ac1d",
                    })
                    //选中后其左面显示其一致的文字内容并加上颜色效果
                var $tex = $("#text p");
                $tex.text($(this).text()).css("color", "#0096a5");
                //选中后相应的banner图转换
                var $im = $(".tu_o");
                $im.css("display", "none");
                $im.eq($(this).index()).css("display", "block");
                //点击展示相应内容
                var $gy = $(".gy_wm");
                $gy.css("display", "none");
                $gy.eq($(this).index()).fadeIn(500); //透明渐入效果

            })
        })
    </script>
{pc:get sql="select * from hl_news a left join hl_news_data b on a.id=b.id where a.id=$id" return="data"}
    <!--公益1-->
    <div class="container gy_wm gongyi1" >
        <h3>{$data[0][title]}</h3>
        <div class="gongyiTip">
            <span>发布人:{$data[0][username]}</span>
            <span>发布时间：{date('Y-m-d',$data[0][inputtime])}</span>
        </div>

        <div class="gongyi2Main">
            {php $image_arr=json_decode($data[0][muti_image],true);}
            {if !empty($image_arr)}
            {loop $image_arr $image}
            <img src="{$image[url]}">
            {/loop}
            {/if}
            <div class="row keyan-p">
                {$data[0][content]}

            </div>
        </div>
    </div>
{/pc}
    <script>
        $(function() {
            $('.gongyi a').on('click', function() {
                $('.gy_wm').hide();
                $('.gongyi1').show();
            })
        })
    </script>


{template "","footer"}
