{template "","header"}


{pc:get sql="select * from hl_category where catid='13'" cache="3600" return="data"}
		<div class="container-fluid tu_o tu_o_2 tu_o_3" style="background: url({$data[0][big_image]}); width: 100%;  background-size: cover; margin-top: 85px;">
			<div class="row">	
				<div class="tu_o_zh "  id="tu_cpcp">
					<div class="tu_zh" id="keyanjishu" style="width: 100%; text-align: right;">
						<h1  id="chanpin_h1" style="color: #ffffff;">{$data[0][catname]}</h1>
						<p></p>
						<div class="clearfix"></div>
						<p id="chanpin_p" style="color: #ffffff; width:100%;">{$data[0][description]}</p>
					</div>
{/pc}
				<!--
                	<ul class="row">
					<li class="col-md-3 col-sm-3 col-xs-3" id="chpin" style="margin-left: 0; margin-top: 8%;">
						<div class="col-md-2 col-sm-2"><img src="img/hc_030.png" /></div>
						<div class="col-md-10 col-sm-10" id="ch_o">
							<a href="yy_jk.html">
							<h1>健康瘦身</h1>
							<p>致力于纳米微果和包脉增溶技术的研发和应用</p>
							</a>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-3" id="chpin" style="margin-left: 3%; margin-top: 8%;">
						<div class="col-md-2 col-sm-2"><img src="img/hc_0300.png"/></div>
						<div class="col-md-10 col-sm-10" id="ch_o">
							<a href="yy_sp.html">
							<h1>商品剖析</h1>
							<p>致力于纳米微囊和包埋增溶技术的研发和应用</p>
							</a>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-3" id="chpin" style="margin-left: 3%; margin-top: 8%;">
						<div class="col-md-2 col-sm-2"><img src="img/hc_03000.png"/></div>
						<div class="col-md-10 col-sm-10" id="ch_o">
							<a href="yy_cp.html">
							<h1>产品配料</h1>
							<p>致力于纳米微囊和包埋增溶技术的研发和应用</p>
							</a>
						</div>
					</li>
				</ul>               	
               -->				
				</div>
			</div>		
		</div>

{pc:get sql="select * from hl_category where catid='29'" cache="3600" return="data_ca"}
		<div class="container" id="midle_o" style="margin-bottom: 4%;">
			<div class="row" id="pd">
				<div class="col-md-12  col-sm-12"  id="col"><p><a href="{$data_ca[0][url]}" target="_blank">{$data_ca[0][catname]}</a></p></div>
				<ul class="col-md-12  col-sm-12 ji_fa" id="ji_fa">
					<li class="col-md-12  col-sm-12">
						<div class="col-md-7 col-sm-7 col-xs-12" id="ji_zi" style="padding-top: 0; padding-left: 0;">
							{pc:content action="lists" moreinfo="1"  catid="29" order="listorder DESC" num="2"}
							{loop $data $k $r}
							<a href="{$r[url]}" style="cursor: pointer;text-decoration: none;">
							<h2  class="xy_h1" style="color: #01396a;">{$r[title]}</h2>
							<span class="xy_p2" style="color: black">{$r[description]}</span>
							</a>
							{/loop}
							{/pc}
						</div>
						<img src="{$data_ca[0][big_image]}" class="col-md-5  col-sm-5 col-xs-12 img-responsive" id="ji_img">
					</li>									
				</ul>
			</div>
		</div>
{/pc}

{pc:get sql="select * from hl_category where catid='30'" cache="3600" return="data_ca"}
		<div class="container" id="midle">
			<div class="row">
				<div class="col-md-12  col-sm-12" id="col"><p ><a href="{$data_ca[0][url]}" target="_blank">{$data_ca[0][catname]}</a></p></div>
			</div> 
		</div>
			<div class="container-fluid" id="midle" style="background: url({$data_ca[0][big_image]}); width: 100%;  background-size: cover;">
			<div  class="pp_pai">
			<ul class="row" id="pinpai">
				{pc:content action="lists" catid="30" order="listorder DESC" num="5"}
				{loop $data $k $r}
				<li class="col-md-12 col-sm-12 col-xs-12" style="padding: 4% 0;">
					<a href="{$r[url]}">
					<div class="col-md-12 col-sm-12 col-xs-12"><p>{$r[title]}</p></div>
					</a>
				</li>
				{/loop}
				{/pc}
			</ul>
		</div>
		</div>
{/pc}

{pc:get sql="select * from hl_category where catid='31'" cache="3600" return="data_ca"}
		<div class="container" id="midle_o" style="margin-bottom: 6%;">
			<div class="row" >
				<div class="col-md-12  col-sm-12"  id="col"><p><a href="{$data_ca[0][url]}" target="_blank">{$data_ca[0][catname]}</a></p></div>
                <ul class="col-md-12  col-sm-12 ji_fa" id="ji_fa">
					{pc:content action="lists" moreinfo="1" catid="31" order="listorder DESC" num="3"}
					{loop $data $k $r}

					<li class="col-md-12  col-sm-12">
						<a href="{$r[url]}" style="color: black">
						<img src="{$r[thumb]}" class="col-md-6  col-sm-6 col-xs-12 img-responsive" id="ji_img">
						<div class="col-md-6 col-sm-6 col-xs-12" id="ji_zi">
							<h1>{$r[title]}</h1>
							<p class="xp_p3">{$r[description]}</p>
						</div>
						</a>
					</li>
					{/loop}
					{/pc}
				</ul>
			</div>
		</div>
{/pc}

{template "","footer"}
